.wp-block-getwid-table {
	$main_class: '.wp-block-getwid-table';

	table {
		width: 100%;
		table-layout: fixed;
		border-spacing: 0;

		td {
			border-color: #ddd;
			border-style: solid;
			border-width: 1px;

			#{$main_class}__cell-content {
				padding: .5em;
			}

			&.selected {
				outline: 2px solid #2196f3;
			}
		}
	}
}
