.wp-block-getwid-table {
	table {
		width: 100%;
		border-spacing: 0;

		thead {
			tr:last-child td {
				border-bottom: 2px solid #000;
			}
		}

		tfoot {
			tr:last-child td {
				border-top: 2px solid #000;
			}
		}
	}
	&.wp-block-getwid-table-frontend {
		table td {
			border: 1px solid transparent;
		}
	}	
}