.wp-block-getwid-table {
	table {
		width: 100%;
		border-spacing: 0;

		&.has-horisontal-align-left {
			text-align: left;
		}

		&.has-horisontal-align-center {
			text-align: center;
		}

		&.has-horisontal-align-right {
			text-align: right;
		}

		&.has-horisontal-align-justify {
			text-align: justify;
		}

		&.has-vertical-align-top {
			td, th {
				vertical-align: top;
			}
		}

		&.has-vertical-align-middle {
			td, th {
				vertical-align: middle;
			}
		}

		&.has-vertical-align-bottom {
			td, th {
				vertical-align: bottom;
			}
		}
	}

	&.has-table-layout-fixed table {
		table-layout: fixed;
	}

	&.has-table-layout-auto table {
		table-layout: auto;
	}

	&.has-border-collapse-collapse table {
		border-collapse: collapse;
	}

	&.has-border-collapse-separate table {
		border-collapse: separate;
	}
}