.wp-block-getwid-table {
	table {
		width: 100%;
	}

	thead {
		tr:last-child th {
			border-bottom: 2px solid #000;
		}
	}

	tfoot {
		tr:first-child td {
			border-top: 2px solid #000;
		}
	}

	&.has-horizontal-align-left {
		table {
			text-align: left;
		} 
	}

	&.has-horizontal-align-center {
		table {
			text-align: center;
		}
	}

	&.has-horizontal-align-right {
		table {
			text-align: right;
		}
	}

	&.has-vertical-align-top {
		td, th {
			vertical-align: top;
		}
	}

	&.has-vertical-align-middle {
		td, th {
			vertical-align: middle;
		}
	}

	&.has-vertical-align-bottom {
		td, th {
			vertical-align: bottom;
		}
	}

	&.has-table-layout-fixed {
		table {
			table-layout: fixed;
		}
	}

	&.has-table-layout-auto {
		table {
			table-layout: auto;
		}
	}

	&.has-border-collapse-collapse {
		table {
			border-collapse: collapse;
		}
	}

	&.has-border-collapse-separate {
		table {
			border-collapse: separate;
		}
	}
}