.wp-block-getwid-banner{
    &.components-placeholder{
        color: #000000;
    }

    & &__title{
        font-size: 2em;
        line-height: 1.4;
    }

    & + &__url-field{
        display: flex;
        align-items: center;
        margin-top: 1em;

        .dashicon{
            color: #8f98a1;
            width: 36px;
        }
    }

    & &__caption-wrapper{            
        z-index: 1;
    }    
}