.wp-block-getwid-banner{
    &.components-placeholder{
        color: #000000;
    }

    & &__title{
        font-size: 2em;
    }

    & + &__url-field{
        display: flex;
        align-items: center;
        margin-top: 1em;

        .dashicon{
            color: #8f98a1;
            width: 36px;
        }
    }

}