/*!
 * getwid-banner
 */

.wp-block-getwid-banner {
	position: relative;
	overflow: hidden;
	color: white;

	&__wrapper {
		margin: 0;
		padding: 0;
		position: relative;
		background-color: #000;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: inherit;
			opacity: .35;
		}
	}

	& &__link {
		display: block;
		text-decoration: none !important;
		color: inherit;
		margin: 0;
		padding: 0;

		&:hover {
			color: inherit;
			text-decoration: none;
		}
	}

	& &__image,
	& &__video {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
		border-radius: 0;
		transition: all .3s ease;
		max-width: none;
	}

	&__caption {
		min-height: 450px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2.5rem;
		text-align: center;
		z-index: 1;
		color: inherit;
		box-sizing: border-box;

		&-wrapper {
			z-index: 1;
		}
	}

	&__title {
		font-size: 2em;
		display: block;
		line-height: 1.4;
		color: inherit;
	}

	&__text {
		margin: 0;
		padding: 0;
		color: inherit;
	}

	&__title + &__text {
		margin-top: .875em;
	}

}

.has-animation-style1 {
	.wp-block-getwid-banner__image,
	.wp-block-getwid-banner__video {
		width: calc(100% + 25px);
		/*!rtl:begin:remove*/
		transform: translateX(-25px);
		/*!rtl:end:remove*/
	}

	&:hover {
		.wp-block-getwid-banner__image,
		.wp-block-getwid-banner__video {
			transform: none #{'/*rtl:translateX(25px)*/'};
		}
	}
}

.has-animation-style2 {
	.wp-block-getwid-banner__caption {
		padding: 3.5rem;

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			transition: all .3s ease;
		}

		&:before {
			border-left: 1px solid;
			border-right: 1px solid;
			left: 40px;
			right: 40px;
			bottom: 100%;
			top: 20px;
		}

		&:after {
			left: 20px;
			right: 100%;
			top: 40px;
			bottom: 40px;
			border-top: 1px solid;
			border-bottom: 1px solid;
		}

		&:hover {
			&:before {
				bottom: 20px;
			}

			&:after {
				right: 20px;
			}
		}
	}
}

.has-animation-style3 {
	&:hover {
		.wp-block-getwid-banner__image,
		.wp-block-getwid-banner__video {
			transform: scale(1.2);
		}
	}

	.wp-block-getwid-banner__caption {
		padding: 3.5rem;

		&:before {
			content: '';
			position: absolute;
			border: 1px solid currentColor;
			left: 30px;
			right: 30px;
			top: 30px;
			bottom: 30px;
			opacity: 0;
			transform: scale(0.9);
			transition: all .3s ease-in-out;
		}

		&:hover {
			&:before {
				transform: none;
				opacity: 1;
			}
		}
	}
}

.has-animation-style4 {
	.wp-block-getwid-banner__image,
	.wp-block-getwid-banner__video {
		transform: scale(1.2);
	}

	&:hover {
		.wp-block-getwid-banner__image,
		.wp-block-getwid-banner__video {
			transform: none;
		}
	}
}

.has-animation-style5 {
	&:hover {
		.wp-block-getwid-banner__image,
		.wp-block-getwid-banner__video {
			transform: none #{'/*rtl:translateX(25px)*/'};
		}

		.wp-block-getwid-banner__caption {
			&:before {
				transform: none;
				opacity: 1;
			}
		}

	}

	.wp-block-getwid-banner__image,
	.wp-block-getwid-banner__video {
		width: calc(100% + 25px);
		/*!rtl:begin:remove*/
		transform: translateX(-25px);
		/*!rtl:end:remove*/
	}

	.wp-block-getwid-banner__caption {
		padding: 3.5rem;

		&:before {
			content: '';
			position: absolute;
			border: 1px solid currentColor;
			left: 30px;
			right: 30px;
			top: 30px;
			bottom: 30px;
			opacity: 0;
			transform: translateX(-25px);
			transition: all .3s ease;
		}
	}
}

.has-animation-style6 {
	.wp-block-getwid-banner__image,
	.wp-block-getwid-banner__video {
		transform: scale(1.2);
		transition: all .5s ease;
	}

	&:hover {
		.wp-block-getwid-banner__image,
		.wp-block-getwid-banner__video {
			transform: none;
		}

		.wp-block-getwid-banner__caption {
			&:before {
				transform: none;
				opacity: 1;
			}
		}
	}

	.wp-block-getwid-banner__caption {
		padding: 3.5rem;

		&:before {
			content: '';
			position: absolute;
			border: 1px solid currentColor;
			left: 30px;
			right: 30px;
			top: 30px;
			bottom: 30px;
			opacity: 0;
			transform: scale(1.2);
			transition: all .3s ease;
		}
	}
}

.has-text-animation-opacity {
	&:hover {
		.wp-block-getwid-banner__text {
			opacity: .85;
		}
	}

	.wp-block-getwid-banner__text {
		transition: all .3s ease;
		opacity: 0;
	}
}

.has-text-animation-opacity-top {
	&:hover {
		.wp-block-getwid-banner__text {
			opacity: .85;
			transform: none;
		}
	}

	.wp-block-getwid-banner__text {
		transition: all .3s ease;
		opacity: 0;
		transform: translateY(-20px);
	}
}

.has-text-animation-opacity-bottom {
	&:hover {
		.wp-block-getwid-banner__text {
			opacity: .85;
			transform: none;
		}
	}

	.wp-block-getwid-banner__text {
		transition: all .3s ease;
		opacity: 0;
		transform: translateY(20px);
	}
}

.has-text-animation-opacity-left {
	&:hover {
		.wp-block-getwid-banner__text {
			opacity: .85;
			transform: none;
		}
	}

	.wp-block-getwid-banner__text {
		transition: all .3s ease;
		opacity: 0;
		transform: translateX(-20px);
	}
}

.has-text-animation-opacity-right {
	&:hover {
		.wp-block-getwid-banner__text {
			opacity: .85;
			transform: none;
		}
	}

	.wp-block-getwid-banner__text {
		transition: all .3s ease;
		opacity: 0;
		transform: translateX(20px);
	}
}

.has-text-animation-opacity-zoom-in {
	&:hover {
		.wp-block-getwid-banner__text {
			opacity: .85;
			transform: none;
		}
	}

	.wp-block-getwid-banner__text {
		transition: all .3s ease;
		opacity: 0;
		transform: scale(.8);
	}
}

.has-text-animation-opacity-zoom-out {
	&:hover {
		.wp-block-getwid-banner__text {
			opacity: .85;
			transform: none;
		}
	}

	.wp-block-getwid-banner__text {
		transition: all .3s ease;
		opacity: 0;
		transform: scale(1.2);
	}
}

.has-vertical-alignment-center {
	.wp-block-getwid-banner__caption {
		align-items: center;
	}
}

.has-vertical-alignment-top {
	.wp-block-getwid-banner__caption {
		align-items: flex-start;
	}
}

.has-vertical-alignment-bottom {
	.wp-block-getwid-banner__caption {
		align-items: flex-end;
	}
}

.has-horizontal-alignment-left {
	.wp-block-getwid-banner__caption {
		justify-content: flex-start;
		text-align: left;
	}
}

.has-horizontal-alignment-right {
	.wp-block-getwid-banner__caption {
		justify-content: flex-end;
		text-align: right;
	}
}

.has-horizontal-alignment-center {
	.wp-block-getwid-banner__caption {
		justify-content: center;
	}
}

@function index($var1) {
	@return $var1 * 5;
}

@function opac($var1, $var2) {
	@return ($var1 * $var2) / 100;
}

@for $i from 0 through 20 {
	.has-foreground-#{index($i)} {
		.wp-block-getwid-banner__wrapper {
			&:after {
				opacity: opac($i, 5);
			}
		}
	}
}
