
.wp-block-getwid-price-box {

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 4em 1.8em;
    background-color: #8C8C971A;

    font-size: 22px !important;
    line-height: 1.8;

    @mixin font-family {
        font-family: "NonBreakingSpaceOverride", "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif !important;
    }

    & &__title {        
        width: 100%;
        margin-bottom: 20px;

        color: inherit;
        @include font-family;

        font-size: 1.2em !important;
        font-weight: 300 !important;        
    }

    & &__price-wrapper {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    & &__currency {
        width: 100%;
        height: 100%;

        color: inherit;
        @include font-family;

        font-size: 1em !important;
        font-weight: 200 !important;
    }

    & &__amount {
        width: 100%;
        height: 100%;

        letter-spacing: normal;
        word-wrap: break-word;
        
        color: inherit;
        @include font-family;            

        line-height: 1 !important;
        font-size: 5em !important;
        font-weight: 300;  
    }

    & &__features {
        width: 100%;
        height: 100%;

        margin-top: 5px;        

        color: inherit;
        @include font-family;

        font-size: 1.2em !important;
        font-weight: 300 !important;
        
        li {            
            list-style: none;
        }

        ul {
            opacity: .63;
        }
    }

    .editor-rich-text {
        max-width: 100%;
    }
}


