
.wp-block-getwid-price-box {
    $main_class: '.wp-block-getwid-price-box';

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 4em 1.8em;

    & &__title {
        margin-bottom: 20px;
    }

    & &__price-wrapper {
        max-width: 100%;
        display: flex;
        flex-direction: row;

        & #{$main_class}__period {
            word-wrap: break-word;
        }
    }

    & &__features {
        margin-top: 5px;
        
        li {
            list-style: none;
        }
    }
}