.wp-block-getwid-price-box {

	$main_class: '.wp-block-getwid-price-box';

	& &__pricing {
		#{$main_class}__currency {
			margin-right: .875rem;
		}

		#{$main_class}__period {
			margin-left: .875rem;
		}

		p {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	& &__features {
		list-style: none;
	}
}
