.wp-block-getwid-price-box {
    $main_class: '.wp-block-getwid-price-box';

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2.5em 1.25em;

    & &__title {
        margin-bottom: .5em;
        color: inherit;
    }

    & &__pricing {
        > * {
            display: inline-block;
            margin: 0;
            line-height: 1;
        }

        & #{$main_class}__currency {
            //font-size: .875em;
            vertical-align: top;
        }

        & #{$main_class}__amount {
            font-size: 1.875em;
        }

        & #{$main_class}__period {
            //font-size: .875em;
            vertical-align: bottom;
        }
    }

    & &__features {

        list-style: none;
        padding: 0;
        margin: 2.5em auto;

        li {
            + li {
                margin-top: .5em;
            }
        }
    }

    .wp-block-button{
        margin-bottom: 0;
    }
}