.wp-block-getwid-icon-box{
    &--icon-left,
    &--icon-right{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
    }
    &--icon-left{
        .wp-block-getwid-icon-box__icon-container{
            margin: 0 20px 0 0;
        }
    }
    &--text-left{
        text-align: left;
    }
    &--text-center{
        text-align: center;
    }
    &--text-right{
        text-align: right;
    }
    .wp-block-getwid-icon-box__icon-container{
        line-height: 0;
        &--framed{
            .wp-block-getwid-icon-box__icon-wrapper{
                border-width: 1px;
                border-style: solid;
                border-color: currentColor;
                border-radius: 100%;
            }
            
        }
        &--stacked{
            .wp-block-getwid-icon-box__icon-wrapper{
                border-radius: 100%;
            }
        }  
        &--position-top{
            order: 0;
            flex: 0 1 auto;
            align-self: flex-start;        
        }  
        &--position-middle{
            order: 0;
            flex: 0 1 auto;
            align-self: center;     
        }          
        &--position-bottom{
            order: 0;
            flex: 0 1 auto;
            align-self: flex-end;  
        }             
        .wp-block-getwid-icon-box__icon-wrapper{
            display: inline-block;
            line-height: 1;
            padding: 16px;
            font-size: 64px;    
            text-align: center;                         
        }
        i{
            display: block;
            height: 1em;
            width: 1em;
            position: relative;
            &:before{
                margin-top: -0.03em;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        a.wp-block-getwid-icon-box__icon-wrapper{
            text-decoration: none;
            transition: all .3s ease;
            &:hover{
                cursor: pointer;
            }
        }
    }
    &--icon-right{
        .wp-block-getwid-icon-box__icon-container{
            order: 1;
            margin: 0 0 0 20px;
        }
    }    
    .wp-block-getwid-icon-box__content{
        order: 0;
        flex: 1 1 auto;
        align-self: center;    
    }

    &[data-animation="slideTop"]{
        .wp-block-getwid-icon-box__icon-wrapper{
            transition: .3s ease;
            transform: none;
        }
        &:hover{
            .wp-block-getwid-icon-box__icon-wrapper {
                transform: translateY(-10%);
            }
        }
    }
    &[data-animation="slideBottom"]{
        .wp-block-getwid-icon-box__icon-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            .wp-block-getwid-icon-box__icon-wrapper {
                transform: translateY(10%);
            }
        }
    }
    &[data-animation="slideLeft"]{
        .wp-block-getwid-icon-box__icon-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            .wp-block-getwid-icon-box__icon-wrapper {
                transform: translateX(-10%);
            }
        }
    }
    &[data-animation="slideRight"]{
        .wp-block-getwid-icon-box__icon-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            .wp-block-getwid-icon-box__icon-wrapper {
                transform: translateX(10%);
            }
        }
    }
    &[data-animation="zoomSmall"]{
        .wp-block-getwid-icon-box__icon-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            .wp-block-getwid-icon-box__icon-wrapper {
                transform: scale(1.1);
            }
        }
    }
    &[data-animation="zoomBig"]{
        .wp-block-getwid-icon-box__icon-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            .wp-block-getwid-icon-box__icon-wrapper {
                transform: scale(1.3);
            }
        }
    }
}