.wp-block-getwid-circle-progress-bar {
    $main_class: '.wp-block-getwid-circle-progress-bar';

    display: flex;
    flex-direction: column;
    align-items: center;

    //owerride fix
    & #{$main_class}__bar-background {
        background-color: #ebf0f3;
    }

    & #{$main_class}__content-wrapper {
        min-height: 200px;
        min-width: 200px;
        position: relative;

        & #{$main_class}__bar-background, & #{$main_class}__circle-foreground, & #{$main_class}__counter {
            top:58%;
            left: 50%;
            position: absolute;
            border-radius: 50%;
            transform: translate(-50%,-50%);
        }

        & #{$main_class}__bar-background {
            height: 190px;
            width: 190px;
        }

        & #{$main_class}__circle-foreground {
            height: 180px;
            width: 180px;
            background-color: #fff;
        }

        & #{$main_class}__counter {
            z-index: 1;
            color: #5cb0d8;
        }
    }

    h5 {
        color: #111 !important;
    }
}