.wp-block-getwid-circle-progress-bar {
    $main_class: '.wp-block-getwid-circle-progress-bar';

    & &__wrapper {
        & #{$main_class}__canvas {
            padding-top: .7em;
            padding-left: 5.5em;
        }
    }    
}