{
	"presets": [
		"@wordpress/babel-preset-default"
	],
	"plugins": [
		[
			"transform-react-jsx",
			{
				"pragma": "wp.element.createElement"
			}
		],
		[
			"@babel/plugin-proposal-class-properties",
			{
				"loose": true
			}
		]
	]
}