.wp-block-getwid-images-stack{
    $base_class: '.wp-block-getwid-images-stack';

    position: relative;

    & &__wrapper{
        position: relative;
        overflow: hidden;
        &:after{
            display: table;
            content: '';
            clear: both;
        }
    }

    & &__chunk{
        position: relative;
        margin: 0 -2%;
        &:nth-child(2n){
            #{$base_class}__media-wrapper{
                float: right;
                &:nth-child(2){
                    float: left;
                    margin-top: 4%;
                }
            }
        }
    }
    & &__media-wrapper{
        position: relative;
        width: 50%;
        margin: 0;
        padding: 0 2%;
        margin-bottom: 4%;
        float: left;
        box-sizing: border-box;
        &:last-child{
            margin-bottom: 0
        }
        &:nth-child(2n){
            margin-top: 30%;
            float: right;
        }
    }
    & &__media-inner-wrapper{
        position: relative;
        padding-top: 148%;
    }
    & &__media{
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &.is-style-alpha,
    &.is-style-beta,
    &.is-style-gamma{
        #{$base_class}__chunk{
            margin: 0;
            padding-top: 100%;
            margin-top: 9%;
            &:first-child{
                margin-top: 0;
            }
            &:after{
                clear: both;
                display: table;
                content: '';
            }
            &:nth-child(2n){
                #{$base_class}__media-wrapper{
                    &:nth-child(2){
                        margin-top: 0;
                    }
                }
            }
        }
        #{$base_class}__media-wrapper{
            position: absolute;
            width: 60%;
            top: 0;
            left: 0;
            padding: 0;
            margin: 0;
            &:nth-child(2){
                width: 70%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:nth-child(3){
                top: auto;
                left: auto;
                bottom: 0;
                right: 0;
            }
        }
        #{$base_class}__media-inner-wrapper{
            padding-top: 68%;
        }
    }
    &.is-style-beta{
        #{$base_class}__media-wrapper{
            &:first-child{
                z-index: 1;
            }
        }
    }
    &.is-style-gamma{
        #{$base_class}__media-wrapper{
            &:nth-child(2){
                z-index: 1;
            }
        }
    }
    &.is-style-alpha,
    &.is-style-beta,
    &.is-style-gamma{
        #{$base_class}__media-wrapper{
            &:first-child{
                &:nth-last-child(2){
                    width: 75%;
                    top: 5%;
                }
            }
            &:nth-child(2){
                &:last-child{
                    left: auto;
                    top: auto;
                    right: 0;
                    bottom: 5%;
                    width: 75%;
                    transform: none;
                }
            }
        }
    }

    &.is-style-delta{
        #{$base_class}__chunk{
            margin: 0;
            padding-top: 92%;
            margin-top: 9%;
            &:first-child{
                margin-top: 0;
            }
            &:after{
                clear: both;
                display: table;
                content: '';
            }
            &:nth-child(2n){
                #{$base_class}__media-wrapper{
                    &:nth-child(2){
                        margin-top: 0;
                    }
                }
            }
        }
        #{$base_class}__media-wrapper{
            position: absolute;
            width: 63%;
            top: 0;
            left: 0;
            padding: 0;
            margin: 0;
            &:nth-child(2){
                width: 70%;
                top: 33%;
                right: 0;
                left: auto;
                z-index: 1;
                &:last-child{
                    top: auto;
                    bottom: 0;
                    width: 75%;
                }
            }
            &:nth-child(3){
                width: 45%;
                top: auto;
                bottom: 0;
                #{$base_class}__media-inner-wrapper{
                    padding-top: 100%;
                }
            }
            &:first-child{
                &:nth-last-child(2){
                    width: 75%;
                }
            }
        }
        #{$base_class}__media-inner-wrapper{
            padding-top: 68%;
        }
    }

    &.is-style-epsilon{
        #{$base_class}__chunk{
            margin: 0;
            padding-top: 90%;
            margin-top: 9%;
            &:first-child{
                margin-top: 0;
            }
            &:after{
                clear: both;
                display: table;
                content: '';
            }
            &:nth-child(2n){
                #{$base_class}__media-wrapper{
                    &:nth-child(2){
                        margin-top: 0;
                    }
                }
            }
        }
        #{$base_class}__media-wrapper{
            position: absolute;
            width: 54%;
            bottom: 0;
            left: 0;
            padding: 0;
            margin: 0;
            #{$base_class}__media-inner-wrapper{
                padding-top: 148%;
            }
            &:nth-child(2){
                width: 65%;
                top: auto;
                left: auto;
                right: 0;
                bottom: 0;
                #{$base_class}__media-inner-wrapper{
                    padding-top: 68%;
                }
            }
            &:nth-child(3){
                width: 40%;
                top: 0;
                right: 0;
                left: auto;
                bottom: auto;
                #{$base_class}__media-inner-wrapper{
                    padding-top: 100%;
                }
            }
            &:first-child{
                &:nth-last-child(2){
                    width: 61%;
                }
            }
        }
    }

    &.is-style-zeta{
        #{$base_class}__chunk{
            margin: 0;
            padding-top: 100%;
            margin-top: 9%;
            &:first-child{
                margin-top: 0;
            }
            &:after{
                clear: both;
                display: table;
                content: '';
            }
            &:nth-child(2n){
                #{$base_class}__media-wrapper{
                    &:nth-child(2){
                        margin-top: 0;
                    }
                }
            }
        }
        #{$base_class}__media-wrapper{
            position: absolute;
            width: 54%;
            top: 0;
            left: 0;
            padding: 0;
            margin: 0;
            #{$base_class}__media-inner-wrapper{
                padding-top: 148%;
            }
            &:nth-child(3){
                width: 40%;
                top: 10%;
                right: 0;
                left: auto;
                bottom: auto;
                #{$base_class}__media-inner-wrapper{
                    padding-top: 100%;
                }
            }
            &:nth-child(2){
                width: 65%;
                top: auto;
                left: auto;
                right: 0;
                bottom: 0;
                #{$base_class}__media-inner-wrapper{
                    padding-top: 68%;
                }
            }
        }
    }
    &.is-style-alpha,
    &.is-style-beta,
    &.is-style-gamma,
    &.is-style-delta,
    &.is-style-epsilon,
    &.is-style-zeta{
        #{$base_class}__media-wrapper{
            &:only-child{
                width: 100%;
                #{$base_class}__media-inner-wrapper{
                    padding-top: 100%;
                }
            }
        }
    }

}