.wp-block-getwid-counter {
	&__wrapper {
		> * {
			margin: 0;
			padding: 0;
			display: block;
		}
	}

	&__prefix {
		padding-bottom: .5em;
	}

	&__number {
		font-size: 2.5em;
	}

	&__suffix {
		padding-top: .5em;
	}
}
