/*!
 * getwid-toggle
 */

.wp-block-getwid-toggle {

	//Specific variables for this block
	$border_color: #eee;
	$border_width: 1px;

	width: 100%;

	&__row {
		margin: 0;

		&:first-child {
			.wp-block-getwid-toggle__header-wrapper {
				border-top: #{$border_width} solid #{$border_color};
			}
		}

		> .wp-block-getwid-toggle__content{
			display: none;
		}

		&.is-active {
			> .wp-block-getwid-toggle__header-wrapper .wp-block-getwid-toggle__icon {
				&.is-active {
					display: none;
				}

				&.is-passive {
					display: inline;
				}
			}

			> .wp-block-getwid-toggle__content{
				display: block;
			}
		}

	}

	& &__header {
		margin: 0;
		padding: 0.5em 0.75em;
		border: 0;
		width: 100%;
		display: block;

		&:before,
		&:after {
			display: none;
		}

		a {
			display: flex;
			align-items: center;
			/*rtl:begin:remove*/
			justify-content: space-between;
			/*rtl:end:remove*/
			text-decoration: none !important;
			border: 0;
			box-shadow: none;
			/*rtl:raw: flex-direction: row-reverse; justify-content: flex-end; */

			&:before,
			&:after {
				display: none;
			}

			&:hover,
			&:focus {
				outline: none;
				border: 0;
				text-decoration: none !important;
				box-shadow: none;

				&:before,
				&:after {
					display: none;
				}

			}
		}

		&-wrapper {
			padding: 0;
			border: #{$border_width} solid #{$border_color};
			border-top: 0;
		}

		&-title {
			margin: 0;
			padding: 0;

			&:before,
			&:after {
				display: none;
			}
		}

		&:focus {
			outline: none;
		}

		&:hover {
			cursor: pointer;
		}

	}

	&__icon {
		font-size: inherit;
		margin: 0 0 0 0.75em;

		&.is-passive {
			display: none;
		}

		i {
			font-size: 0.75em;
		}
	}

	&__content {
		padding: 1.5em;
		border-right: #{$border_width} solid #{$border_color};
		border-left: #{$border_width} solid #{$border_color};
		border-bottom: #{$border_width} solid #{$border_color};

		&:after {
			content: '';
			display: table;
			clear: both;
		}

		> * {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__title {
		margin: 0;
	}

	&__content-wrapper {
		height: 0;
		overflow: hidden;
		display: block !important;
	}

	&__row {
		&.is-active {
			> .wp-block-getwid-toggle__content-wrapper {
				height: auto;
				overflow: visible;
			}
		}
	}
}

.has-icon-left {
	.wp-block-getwid-toggle__header-wrapper {
		a {
			flex-direction: row-reverse #{'/*rtl: row*/'};
			justify-content: flex-end #{'/*rtl: space-between*/'};
		}
	}

	.wp-block-getwid-toggle__icon {
		margin: 0 0.75em 0 0;
	}
}
