/*!
 * getwid-contact-form
 */

.wp-block-getwid-contact-form {
    .wp-block-getwid-field-name,
    .wp-block-getwid-field-email,
    .wp-block-getwid-field-textarea {
        display: flex;
        flex-direction: column;
    }

    .wp-block-getwid-contact-form__result {
        &.success {
            color: green;
        }

        &.fail {
            color: red;
        }
    }

    &__submit {
        margin-top: 2em;
        .wp-block-button {
            margin-bottom: 0;
        }
    }
}

.wp-block-getwid-captcha {
    margin-bottom: 1em;
}
