.wp-block-getwid-contact-form {
    $main_class: '.wp-block-getwid-contact-form';

    & &__fields-wrapper {
        display: flex;
        flex-direction: column;

        & #{$main_class}__name, & #{$main_class}__from, & #{$main_class}__message {
            
            padding: 6px 8px;
            border-radius: 4px;
        }

        & #{$main_class}__to-wrapper,
        & #{$main_class}__name-wrapper,
        & #{$main_class}__submit-wrapper {

            display: flex;
            flex-direction: column;
        }
    
        & #{$main_class}__subject-wrapper,
        & #{$main_class}__from-wrapper {

            display: flex;
            flex-direction: column;
        }
    
        & #{$main_class}__message-wrapper {
            display: flex;
            flex-direction: column;

            margin-bottom: 25px;
        }
    }
}