.components-getwid-custom-query-control {
	$control: &;

	&__custom-field {
		margin-bottom: 16px;
	}

	&__custom-btn-condition {
		position: relative;
		margin-top: 10px;
		/*!rtl:begin:remove*/
		margin-left: 20px;
		/*!rtl:end:remove*/
		/*!rtl:raw: margin-right: 20px; */

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: -20px #{'/*rtl: auto */'};
			/*!rtl:raw: right: -20px; */
			height: 1px;
			width: 20px;
			background: #ccc;
		}
	}

	&__custom-btn-group {
		margin-top: 30px;
	}

	&__custom-condition {
		position: relative;
		/*!rtl:begin:remove*/
		padding-right: 30px;
		/*!rtl:end:remove*/
		/*!rtl:raw: padding-left: 30px; */

		#{ $control }__group {
			display: flex;
		}

		#{ $control }__custom-relation {
			width: max-content;
		}

		#{ $control }__custom-query {
			position: relative;
			display: flex;
			/*!rtl:begin:remove*/
			margin-left: 15px;
			/*!rtl:end:remove*/
			/*!rtl:raw: margin-right: 15px; */

			&--compare {
				min-width: 95px;
			}

			&--type {
				min-width: 75px;
			}

			&::before {
				content: '';
				position: absolute;
				top: 15px;
				left: -15px #{'/*rtl: auto */'};
				/*!rtl:raw: right: -15px; */
				height: 1px;
				width: 21px;
				background: #ccc;
			}

			&:first-child {
				margin-top: 15px;
			}

			& > .components-base-control {
				/*!rtl:begin:remove*/
				margin-left: 5px;
				/*!rtl:end:remove*/
				/*!rtl:raw: margin-right: 5px; */
			}

			#{ $control }__custom-query--btn-close {
				padding: 0;
				/*!rtl:begin:remove*/
				margin-left: 5px;
				/*!rtl:end:remove*/
				/*!rtl:raw: margin-right: 5px; */
				max-height: 30px;
				position: absolute;
				left: 100% #{'/*rtl: -30px */'};
			}
		}

		& > #{ $control }__custom-condition {
			/*!rtl:begin:remove*/
			margin-left: 20px;
			/*!rtl:end:remove*/
			/*!rtl:raw: margin-right: 20px; */
			margin-top: 10px;
			margin-bottom: 10px;
			padding-right: 0px;

			&::after {
				content: '';
				position: absolute;
				top: 14px;
				left: -20px #{'/*rtl: auto */'};
				/*!rtl:raw: right: -20px; */
				height: 1px;
				width: 20px;
				background: #ccc;
			}
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0 #{'/*rtl: auto */'};
			/*!rtl:raw: right: 0; */
			height: calc( 100% - 18px );
			width: 1px;
			background: #ccc;
		}

		#{ $control }__custom-conditions {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				top: calc(50% - 5px);
				left: -6px #{'/*rtl: auto */'};
				/*!rtl:raw: right: -6px; */
				height: 1px;
				width: 12px;
				background: #ccc;
				transform: translateY( -50% );
			}

			li {
				position: relative;
				display: flex;
				/*!rtl:begin:remove*/
				margin-left: 6px;
				/*!rtl:end:remove*/
				/*!rtl:raw: margin-right: 6px; */

				&::before {
					content: '';
					position: absolute;
					top: calc(50% - 5px);
					left: -6px #{'/*rtl: auto */'};
					/*!rtl:raw: right: -6px; */
					height: 1px;
					width: 12px;
					background: #ccc;
					transform: translateY( -50% );
				}

				& > div {
					margin: 0 5px;
				}
			}
		}
	}

	&__custom-component {
		.components-panel__icon {
			margin-left: auto;
			/*!rtl:begin:remove*/
			margin-right: 10px;
			/*!rtl:end:remove*/
			/*!rtl:raw: margin-left: 10px; */
			&::before {
				color: #1e1e1e;
			}
		}
	}
}
