.wp-block-getwid-images-slider {

    &__wrapper {
	    &:not(.slick-initialized) {
			opacity: 0;
			overflow: hidden;
			height: 400px;
	    }
	}

    & &__item{
		flex-direction: column-reverse;
	}

	&__url-field-wrapper{
		display: none;
		width: 100%;

        .dashicon{
            color: #8f98a1;
        }

		.wp-block-getwid-images-slider__url-field{
			margin-left: 10px;
			margin-right: 5px;
			input {
				width: 100% !important;
				border: 1px solid #e2e4e7;
			}
		}

		.wp-block-getwid-images-slider__url-field-container{
			align-items: center;
			margin-bottom: 0.5em;
			flex-wrap: wrap;
			display: flex;
			width: 100%;
		}

		.wp-block-getwid-images-slider__url-rel-container{
			flex-wrap: wrap;
			display: flex;			
			.wp-block-getwid-images-slider__url-toggle{
				width: 49.5%;
				margin-left: 2px;
			}	
			
			.wp-block-getwid-images-slider__url-rel{
				width: 49.5%;
			}		
		}

        .components-base-control__field{
            align-items: flex-end;
			margin: 0;
        }
	}
	
	&.is-active{
		.wp-block-getwid-images-slider__url-field-wrapper{
			display: block;
		}
	}	
}

.wp-block-getwid-images-slider >
	.components-form-file-upload {
		margin-top: 16px;
	}