/*!
 * getwid-images-slider
 */

.wp-block-getwid-images-slider {

	.slick-initialized {
		.wp-block-getwid-images-slider__item {
			display: flex;
		}
	}

	& &__item {
		display: none;
		height: auto;
		justify-content: center;
		align-items: center;
		position: relative;

		a {
			display: block;
			text-decoration: none;

			&:hover {
				text-decoration: none;
			}
		}

		figure {
			margin: 0;
			padding: 0;
			position: relative;
		}

		figcaption {
			display: none;
			position: absolute;
			margin: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			font-style: normal;
			padding: 40px 20px 10px;
			width: 100%;
			color: #fff;
			background: linear-gradient(0deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .3) 70%, transparent);
		}
	}

	&.has-captions {
		.wp-block-getwid-images-slider__item {
			figcaption {
				display: block;
			}
		}
	}

	&.captions-style-light {
		.wp-block-getwid-images-slider__item {
			figcaption {
				color: #000;
				background: linear-gradient(0deg, rgba(255, 255, 255, .7), rgba(255, 255, 255, .3) 70%, transparent);
			}
		}
	}

	&.captions-top-left,
	&.captions-top-center,
	&.captions-top-right {
		.wp-block-getwid-images-slider__item {
			figcaption {
				bottom: auto;
				top: 0;
				padding: 10px 20px 40px;
				background: linear-gradient(180deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .3) 70%, transparent);
			}
		}

		&.captions-style-light {
			.wp-block-getwid-images-slider__item {
				figcaption {
					background: linear-gradient(180deg, rgba(255, 255, 255, .7), rgba(255, 255, 255, .3) 70%, transparent);
				}
			}
		}
	}

	&.captions-top-left,
	&.captions-bottom-left {
		.wp-block-getwid-images-slider__item {
			figcaption {
				text-align: left;
			}
		}
	}

	&.captions-top-right,
	&.captions-bottom-right {
		.wp-block-getwid-images-slider__item {
			figcaption {
				text-align: right;
			}
		}
	}

	&.captions-underneath {
		.wp-block-getwid-images-slider__item {
			figcaption {
				position: static;
				background: transparent;
				color: inherit;
				padding: 5px;
			}
		}
	}

	&.has-cropped-images {
		.slick-track {
			display: flex;
		}

		.wp-block-getwid-images-slider__item {
			figure,
			a {
				display: block;
				height: 100%;
				width: 100%;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&.has-fitted-images {
		.slick-track {
			display: flex;
		}

		.wp-block-getwid-images-slider__item {

			> figure,
			> a {
				display: flex;
				max-height: 100%;
			}

			img {
				object-fit: contain;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	&.has-images-top {
		.slick-track {
			display: flex;
		}

		.wp-block-getwid-images-slider__item {
			align-items: flex-start;
		}
	}

	&.has-images-center {
		.slick-track {
			display: flex;
		}

		.wp-block-getwid-images-slider__item {
			align-items: center;
		}
	}

	&.has-images-bottom {
		.slick-track {
			display: flex;
		}

		.wp-block-getwid-images-slider__item {
			align-items: flex-end;
		}
	}
}
