/*!
 * getwid-images-slider
 */

.wp-block-getwid-images-slider {
	.slick-initialized {
		.wp-block-getwid-images-slider__item {
			display: flex;
		}
	}

	& &__item {
		align-items: center;
		display: none;
		height: auto;
		justify-content: center;
		position: relative;

		a {
			display: block;
			text-decoration: none;

			&:hover {
				text-decoration: none;
			}
		}

		figure {
			margin: 0;
			padding: 0;
			position: relative;
		}

		figcaption {
			background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.7),
				rgba(0, 0, 0, 0.3) 70%,
				transparent
			);
			bottom: 0;
			color: #fff;
			display: none;
			font-style: normal;
			left: 0;
			margin: 0;
			padding: 40px 20px 10px;
			position: absolute;
			right: 0;
			text-align: center;
			width: 100%;
		}
	}

	&.has-captions {
		.wp-block-getwid-images-slider__item {
			figcaption {
				display: block;
			}
		}
	}

	&.captions-style-light {
		.wp-block-getwid-images-slider__item {
			figcaption {
				background: linear-gradient(
					0deg,
					rgba(255, 255, 255, 0.7),
					rgba(255, 255, 255, 0.3) 70%,
					transparent
				);
				color: #000;
			}
		}
	}

	&.captions-top-left,
	&.captions-top-center,
	&.captions-top-right {
		.wp-block-getwid-images-slider__item {
			figcaption {
				background: linear-gradient(
					180deg,
					rgba(0, 0, 0, 0.7),
					rgba(0, 0, 0, 0.3) 70%,
					transparent
				);
				bottom: auto;
				padding: 10px 20px 40px;
				top: 0;
			}
		}

		&.captions-style-light {
			.wp-block-getwid-images-slider__item {
				figcaption {
					background: linear-gradient(
						180deg,
						rgba(255, 255, 255, 0.7),
						rgba(255, 255, 255, 0.3) 70%,
						transparent
					);
				}
			}
		}
	}

	&.captions-top-left,
	&.captions-bottom-left {
		.wp-block-getwid-images-slider__item {
			figcaption {
				text-align: left;
			}
		}
	}

	&.captions-top-right,
	&.captions-bottom-right {
		.wp-block-getwid-images-slider__item {
			figcaption {
				text-align: right;
			}
		}
	}

	&.captions-underneath {
		.wp-block-getwid-images-slider__item {
			figcaption {
				background: transparent;
				color: inherit;
				padding: 5px;
				position: static;
			}
		}
	}

	&.has-cropped-images {
		.slick-track {
			display: flex;
		}

		.wp-block-getwid-images-slider__item {
			figure,
			a {
				display: block;
				height: 100%;
				width: 100%;
			}

			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}
	}

	&.has-fitted-images {
		.slick-track {
			display: flex;
		}

		.wp-block-getwid-images-slider__item {
			> figure,
			> a {
				display: flex;
				max-height: 100%;
			}

			img {
				max-height: 100%;
				max-width: 100%;
				object-fit: contain;
			}
		}
	}

	&.has-images-top {
		.slick-track {
			display: flex;
		}

		.wp-block-getwid-images-slider__item {
			align-items: flex-start;
		}
	}

	&.has-images-center {
		.slick-track {
			display: flex;
		}

		.wp-block-getwid-images-slider__item {
			align-items: center;
		}
	}

	&.has-images-bottom {
		.slick-track {
			display: flex;
		}

		.wp-block-getwid-images-slider__item {
			align-items: flex-end;
		}
	}
}
