.wp-block-getwid-images-slider {

	& &__item {
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	&.has-cropped-images {
		.slick-track {
			display: flex;
		}

		.wp-block-getwid-images-slider__item {
			a {
				display: block;
				height: 100%;
				width: 100%;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&.has-images-top {
		.slick-track {
			display: flex;
		}

		.wp-block-getwid-images-slider__item {
			align-items: flex-start;
		}
	}

	&.has-images-center {
		.slick-track {
			display: flex;
		}

		.wp-block-getwid-images-slider__item {
			align-items: center;
		}
	}

	&.has-images-bottom {
		.slick-track {
			display: flex;
		}

		.wp-block-getwid-images-slider__item {
			align-items: flex-end;
		}
	}
}
