.wp-block-getwid-instagram{

}

.form-wrapper .instagram-auth-button{
    padding: 10px;
    box-sizing: initial;
    display: inline-block;
    height: 28px;
    line-height: 26px;
    i{
        font-size: 26px;
        margin-right: 10px;
        vertical-align: bottom;
    }
}