.wp-block-getwid-instagram{

    &__key-form{
        padding: 1em;

        .form-title{
            font-size: 1rem;
            margin-bottom: 1rem;
            display: block;
        }
        .form-wrapper{
            display: flex;
            width: 100%;
            
            .components-base-control{
                margin-right: 10px;
                flex: 1 1 auto;                
            }        
        }
    }

}

.form-wrapper .instagram-auth-button{
    display: inline-block;
    margin-right: 10px;
    i{
        font-size: 19px;
        margin-right: 10px;
        vertical-align: sub;
    }
}