.wp-block-getwid-template-post-meta{

	&.has-direction-column{
		> .block-editor-inner-blocks > .block-editor-block-list__layout{
			> .wp-block{
				display: block;
			}
		}
	}

	& > .block-editor-inner-blocks > .block-editor-block-list__layout{
		//display: flex;
		//align-items: center;
		//justify-content: flex-start;
		//flex-wrap: wrap;
		> .wp-block{
			margin: 0 14px 0 0;
			width: auto;
			display: inline-block;
			.block-editor-block-list__block-edit{
				margin-top: 14px;
				margin-bottom: 14px;
			}
		}
	}

	&.has-direction-column{
		> p{
			margin: 0;
		}
	}
}
