.wp-block-getwid-template-post-meta{
	margin-bottom: .5em;
	&:last-child{
		margin-bottom: 0;
	}

	> p{
        margin: 0;
    }

	> .getwid-post-meta-divider{
		&:nth-last-child(1),
		&:nth-last-child(2){
			display: none;
		}
	}

	&.has-text-color{
		a{
			color: inherit;
		}
	}

    &.has-direction-row{
        > * {
			display: inline;
			margin-bottom: 0;
			margin-right: 20px;

		}

		> :last-child {
			margin-right: 0;
		}
		
	    > p {
			margin-right: 0;
			+ div{
				margin-left: 5px;
			}
		}

        &.has-alignment-left{
            text-align: left;
        }
        &.has-alignment-center{
            text-align: center;
        }
        &.has-alignment-right{
            text-align: right;
        }
    }

    &.has-direction-column{
		&:after{
			display: table;
			content: '';
			clear: both;
		}
        .getwid-post-meta-divider{
            display: none;
        }
		> p{
			float: left;
			margin-right: 5px;
		}
    }

}