.wp-block-getwid-post-carousel{

   &__wrapper{
      &:not(.slick-initialized){
        opacity: 0;
        overflow: hidden;
        height: 400px;
      }

      .slick-arrow{
         display: block !important;
         opacity: 1 !important;
      }
   }

	.slick-dots{
		padding: 0;
	}

}