.wp-block-getwid-post-carousel {
	$base-class: '.wp-block-getwid-post-carousel';

	// SLIDER

	& &__wrapper {
		&:not(.slick-initialized) {
			> * {
				&:not(:first-child) {
					display: none;
				}
			}
		}
	}

	// -/SLIDER

	.slick-track {
		display: flex;

		> * {
			height: auto;

			> * {
				&:only-child {
					height: 100%;
				}
			}
		}
	}

	#{$base-class}__post {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		#{$base-class}__post-title {
			margin: 0;
		}

		#{$base-class}__post-thumbnail {
			margin-bottom: 1em;
			position: relative;
			padding-top: 75%;
			width: 100%;

			&:last-child {
				margin-top: 0;
			}

			a {
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;

				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		#{$base-class}__post-excerpt {
			p {
				margin-bottom: 0;
			}
		}

		#{$base-class}__post-excerpt {
			margin-top: .5em;

			&:first-child {
				margin-top: 0;
			}
		}
	}

}
