.wp-block-getwid-post-carousel{
    $base-class: '.wp-block-getwid-post-carousel';

    &.has-cropped-images{
        #{$base-class}__post-thumbnail{
			width: 100%;
			a{
				position: relative;
				padding-top: 100%;
				width: 100%;
				img{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}
        }
    }

    // SLIDER

	& &__wrapper{
		&:not(.slick-initialized){
			> *{
				&:not(:first-child){
					display: none;
				}
			}
		}
	}

    .slick-prev,
    .slick-next{
        z-index: 1;
        &:before{
            color: #000;
        }
    }
    
    .slick-dots{
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
        bottom: 0;
        li{
            margin: 0 5px;
        } 
    }
    
    .slick-dotted.slick-slider{
        margin-bottom: 0;
        padding-bottom: 30px;
    }
    
    &.has-arrows-inside{
        padding-left: 0;
        padding-right: 0;
        .slick-prev,
        .slick-next{
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
            &:before{
                color: #fff;
            }
        }
        .slick-prev{
            left: 25px;
        }     
        .slick-next{
            right: 25px;
        }        
    }
    
    &.has-dots-inside{
        .wp-block-getwid-post-carousel__wrapper.slick-dotted{
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .slick-dots{
            bottom: 20px;
            li{
                .slick-active{
                    color: #fff;
                }
                button{
                    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
                }
                button:before{
                    color: #fff;
                }
            } 
        }
    }
    &.is-carousel{
        .slick-list{
            margin: 0 -5px;
        }
        
        .slick-slide{
            margin: 0 5px;
        }
    }
    
    &.has-slides-gap-none{

        .slick-list{
            margin: 0;
        }
        
        .slick-slide{
            margin: 0;
        }
    }
    
    &.has-slides-gap-small{
        
        .slick-list{
            margin: 0 -5px;
        }
        
        .slick-slide{
            margin: 0 5px;
        }
    }
    
    &.has-slides-gap-normal{
        
        .slick-list{
            margin: 0 -10px;
        }
        
        .slick-slide{
            margin: 0 10px;
        }
    }
    
    &.has-slides-gap-large{
        
        .slick-list{
            margin: 0 -20px;
        }
        
        .slick-slide{
            margin: 0 20px;
        }
    }
    
    &.has-slides-gap-huge{
        
        .slick-list{
            margin: 0 -30px;
        }
        
        .slick-slide{
            margin: 0 30px;
        }
    }

	&.alignfull{

		.slick-list{
			margin: 0;
		}

		&.has-arrows-ouside{
			.slick-prev{
				left: 25px;
			}
			.slick-next{
				right: 25px;
			}
		}
	}
    // -/SLIDER

	.slick-track{
		display: flex;
		> *{
			height: auto;
			> *{
				&:only-child{
					height: 100%;
				}
			}
		}
	}

    & &__slide{
        margin-bottom: 1.5rem;
        > #{$base-class}__post-thumbnail{
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 1em;
        }
        #{$base-class}__post-content-wrapper{
            margin-top: 1em;
            &:first-child{
                margin-top: 0;
            }
            > #{$base-class}__post-header,
            > #{$base-class}__post-content,
            > #{$base-class}__post-excerpt,
            > #{$base-class}__post-footer{
                max-width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
            > #{$base-class}__post-content{
                > *{
                    max-width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }

    #{$base-class}__post{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
        #{$base-class}__post-title{
            margin: 0;
        }
        #{$base-class}__post-meta{
            margin-top: .5em;
            &:first-child{
                margin-top: 0;
            }
        }
        #{$base-class}__post-thumbnail{
            a{
               display: block;
               img{
                   display: block;
               }
            }
        }
		#{$base-class}__post-excerpt{
			p{
				margin-bottom: 0;
			}
		}
        #{$base-class}__post-content{
            > *{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        #{$base-class}__post-footer,
        #{$base-class}__post-header{
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        #{$base-class}__post-meta,
        #{$base-class}__post-footer{
            font-size: .875em;
        }
        #{$base-class}__post-content,
        #{$base-class}__post-excerpt,
        #{$base-class}__post-footer{
            margin-top: .5em;
            &:first-child{
                margin-top: 0;
            }
        }
        #{$base-class}__post-footer {
            > p {
                margin: 0;
            }
        }
    }

}