.wp-block-getwid-accordion {

	&__add-accordion {
		display: flex;
		justify-content: center;
	}

    .wp-block-getwid-accordion__header {
	    margin: 0 !important;
        .wp-block-getwid-accordion__icon {
            i {
                font-style: normal;
            }
        }
    }
}

.wp-block-getwid-accordion-item{

	&__header-title{
		display: block;
	}
}