.wp-block-getwid-accordion {

	&__add-accordion {
		display: flex;
		justify-content: center;
	}

    .wp-block-getwid-accordion__header {
	    margin: 0 !important;
        .wp-block-getwid-accordion__icon {
            i {
                font-style: normal;
            }
        }
    }
}

.wp-block-getwid-accordion{
	&__header-title{
		display: block;
	}
}

[data-type="getwid/accordion-item"]{
	&:not(.is-selected):not(.has-child-selected):not(.is-typing){
		.wp-block-getwid-accordion__content{
			height: 0;
			overflow: hidden;
			padding: 0;
			margin: 0;
		}
	}
}

[data-type="getwid/accordion-item"]{
	.wp-block-getwid-accordion__content{
		transition: none !important;
	}

	&.is-selected,
	&.has-child-selected,
	&.is-typing{

		.wp-block-getwid-accordion__icon{
			&.is-active{
				display: none;
			}

			&.is-passive{
				display: block;
			}
		}

		.wp-block-getwid-accordion__content{
			height: auto;
			opacity: 1;
		}

	}
}