.wp-block-getwid-video-popup{

    $base_class: '.wp-block-getwid-video-popup';
	$text_final_opacity: .85;
    
    #{$base_class}__control{
        width: 90px;
        height: 90px;
        min-width: 90px;
        line-height: 90px;
        background-color: #0085ba;
        border-radius: 50%;
        color: #fff; 
        font-size: 20px;
        text-align: center;  
        position: relative;    
        box-sizing: content-box;   
    }

    position: relative;
    // overflow: hidden;    
    // color: white;
    & &__wrapper{
        margin: 0;
        padding: 0;
        position: relative;
        background-color: #000;
        overflow: hidden;
        cursor: pointer;
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: inherit;
            opacity: .35;
        }
    }
    
    & &__link{
        display: block;
        text-decoration: none !important;
        color: inherit;
        margin: 0;
        padding: 0;
        &:hover{
            color: inherit;
            text-decoration: none;
        }
    }

    #{$base_class}__image, #{$base_class}__video{
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: all .3s ease;
        max-width: none;
    }

    & &__button-wrapper{
        max-width: 400px;
        margin: 0 auto;
        cursor: pointer;
        position: relative;

        a.lightbox-video{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }

         #{$base_class}__container{
            display: flex;
            border: 1px solid #0085ba;
            border-radius: 60px;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            transition: all .3s ease;
            box-sizing: border-box;   

            #{$base_class}__inner-caption-wrapper{
                display: flex;
                justify-content: center;
                -webkit-flex-direction: column;
                flex-direction: column;
                position: relative;
                text-align: left;
                padding-left: 20px;
                padding-right: 45px;
                #{$base_class}__title{
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 22px;
                    margin: 0;
                }
                #{$base_class}__sub-title{
                    font-size: 13px;
                    line-height: 20px;
                }                
            }
        }
    }

    & &__outside-caption-wrapper{
        text-align: center;
    }

    & &__caption{        
        min-height: 450px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2.5rem;
        text-align: center;
        z-index: 1;
        color: inherit;
        box-sizing: border-box;
        #{$base_class} &-wrapper{            
            z-index: 1;
            text-align: center
        }
    }

    & &__title{
        font-size: 2em;
        display: block;
        line-height: 1.4;
        color: inherit;
    }

    & #{$base_class}__wrapper.has-background{
        p#{$base_class}__text{
            color: inherit;
        }        
    }    

    & &__text{
        margin: 0;
        padding: 0;
        color: inherit;
    }

    
    #{$base_class}__title + #{$base_class}__text{
        margin-top: .875em;
    }
    
    // ------- HOVER STYLES------
    
    &.has-animation-style1{
        #{$base_class}__image, #{$base_class}__video{
            width: calc( 100% + 25px );
            transform: translateX(-25px)
        }
        &:hover{
            #{$base_class}__image,
            #{$base_class}__video{
                transform: none;
            }
        }
        
    }    
    
    &.has-animation-style2{
        #{$base_class}__caption{
            padding: 3.5rem;
            &:before{
                border-left: 1px solid;
                border-right: 1px solid;
                left: 40px;
                right: 40px;
                bottom: 100%;
                top: 20px;
            }
            &:after{
                left: 20px;
                right: 100%;
                top: 40px;
                bottom: 40px;
                border-top: 1px solid;
                border-bottom: 1px solid;
            }
            &:before,
            &:after{
                content: '';
                display: block;
                position: absolute;
                transition: all .3s ease;
            }
            &:hover{
                &:before{
                    bottom: 20px;
                }
                &:after{
                    right: 20px;
                }
            }
        } 
    }
    
    &.has-animation-style3{
        
        &:hover{
            #{$base_class}__image,
            #{$base_class}__video{
                transform: scale(1.2);
            }
        }
        #{$base_class}__caption{
            padding: 3.5rem;
            &:before{
                content: '';
                position: absolute;
                border: 1px solid currentColor;
                left: 30px;
                right: 30px;
                top: 30px;
                bottom: 30px;
                opacity: 0;
                transform: scale(0.9);
                transition: all .3s ease-in-out;
            }
            &:hover{
                &:before{
                    transform: none;
                    opacity: 1;
                }
            }
        }
    }
    
    &.has-animation-style4{
        #{$base_class}__image,
        #{$base_class}__video{
            transform: scale(1.2);
        }
        &:hover{
            #{$base_class}__image,
            #{$base_class}__video{
                transform: none;
            }
        }
    }
    
    &.has-animation-style5{
        
        &:hover{
            #{$base_class}__image,
            #{$base_class}__video{
                transform: none;
            }
            #{$base_class}__caption{
                &:before{
                    transform: none;
                    opacity: 1;
                }
            }
           
        }
        #{$base_class}__image, #{$base_class}__video{
            width: calc( 100% + 25px );
            transform: translateX(-25px);
        }
        #{$base_class}__caption{
            padding: 3.5rem;
            &:before{
                content: '';
                position: absolute;
                border: 1px solid currentColor;
                left: 30px;
                right: 30px;
                top: 30px;
                bottom: 30px;
                opacity: 0;
                transform: translateX(-25px);
                transition: all .3s ease;
            }
        }
    }
    
    &.has-animation-style6{
        
        #{$base_class}__image,
        #{$base_class}__video{
            transform: scale(1.2);
            transition: all .5s ease;
        }
        &:hover{
            #{$base_class}__image,
            #{$base_class}__video{
                transform: none;
            }
            #{$base_class}__caption{
                &:before{
                    transform: none;
                    opacity: 1;
                }
            }
        }
        #{$base_class}__caption{
            padding: 3.5rem;
            &:before{
                content: '';
                position: absolute;
                border: 1px solid currentColor;
                left: 30px;
                right: 30px;
                top: 30px;
                bottom: 30px;
                opacity: 0;
                transform: scale(1.2);
                transition: all .3s ease;
            }
        }
    }
    
    // ------- / HOVER STYLES------
    
    &.has-button-animation-pulse{
        #{$base_class}__button-pulse{
            position: absolute;
            top: 0;
            left: 0;
            width: inherit;
            height: inherit;
            border-radius: inherit;
            border: 2px solid #0085ba;
            animation: button_pulse 1.5s linear .5s infinite;
            width: 100%;
            height: 100%;  
            border-radius: 50%;
            box-sizing: border-box;
        }      
    }

    // BUTTON SIZE
    &.button-size-small{
        #{$base_class}__control{
            width: 50px;
            height: 50px;
            min-width: 50px;
            line-height: 50px;
            font-size: 15px;
        }
    }

    &.button-size-normal{
        #{$base_class}__control{
            width: 70px;
            height: 70px;
            min-width: 70px;
            line-height: 70px;
            font-size: 20px;
        }
    }    

    &.button-size-large{
        #{$base_class}__control{
            width: 100px;
            height: 100px;
            min-width: 100px;
            line-height: 100px;
            font-size: 25px;
        }
    }    
    
    // BUTTON STYLE
    &.button-style-outline{
        #{$base_class}__control{
            margin: 7px;
        }
    } 

    &.button-style-fill{
        #{$base_class}__container{
            background-color: #0085ba;
        }

        #{$base_class}__control{
            border: 5px solid #fff;
        }
        
        #{$base_class}__title{
            color: #fff;
        }

        #{$base_class}__sub-title{
            color: #fff;
        }            
    }

    @function index($var1){
        @return $var1 * 5;
    }

    @function opac($var1, $var2){
        @return ($var1 * $var2) / 100;
    }
    @for $i from 0 through 20{
        &.has-foreground-#{index($i)}{
            #{$base_class}__wrapper{
                &:after{
                    opacity: opac($i, 5);        
                }
            }
        }
    }

}