.wp-block-getwid-accordion {
    
    .wp-block-getwid-accordion__header-wrapper:not(.getwid-active) {
        .wp-block-getwid-accordion__header {
            background-color: #f4f4f4;
        }
    }

    &__add-accordion {
        text-align: center;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wp-block-getwid-accordion__header {
        .wp-block-getwid-accordion__icon {
            i {
                font-style: normal;
            }
        }
    }
}