.wp-block-getwid-accordion{
    width: 100%;
    .wp-block-getwid-accordion__header{
        padding: 10px 20px;
        display: flex;
        align-items: center;        
        justify-content: space-between;
        border: 1px solid silver;
        border-top: 0;
        &:first-child{
            border: 1px solid silver;
        }
        &-title {
            margin: 0;
            padding: 0;
            &:before,
            &:after{
                display: none;
            }
        }
        &.ui-state-active{
            .wp-block-getwid-accordion__icon{
                &--active{
                    display: none;                    
                }
                &--passive{
                    display: flex;
                }
            }
        }
        &:focus{
            outline: none;            
        }
        &:hover{
            cursor: pointer;
        }
        .wp-block-getwid-accordion__edit-area{
            width: 100%;
        }
    }
    .wp-block-getwid-accordion__title{
        margin: 0;
    }
    .wp-block-getwid-accordion__icon{
        font-size: 16px;
        margin-left: 1em;
        display: flex;
        align-items: center;
        &--passive{
            display: none;
        }
    }
    .wp-block-getwid-accordion__content{
        padding: 20px;
        border-right: 1px solid silver;
        border-left: 1px solid silver;
        border-bottom: 1px solid silver;
    }
    &--icon-left{
        .wp-block-getwid-accordion__header{
            flex-direction: row-reverse;
            justify-content: flex-end;            
        }        
        .wp-block-getwid-accordion__icon{
            margin-left: 0;
            margin-right: 1em;
        }
    }
    .wp-block-getwid-accordion__add-accordion{
        text-align: center;
        padding-top: 20px;
        svg {
            cursor: pointer;
        }
    }

}