.wp-block-getwid-template-post-tags{
    margin-bottom: .5em;
    &:last-child{
        margin-bottom: 0;
    }

    i{
        font-size: 0.7em;
        margin-right: .5em;
        min-width: 1.25em;
    }

    &.has-text-color{
        a{
            color: inherit;
        }
    }
}