.wp-block-getwid-template-post-tags{
    i{
        font-size: 0.7em;
    }

    &.has-text-color{
        i{
            color: inherit;
        }

        a{
            color: inherit !important;
        }        
    }
}