.wp-block-getwid-content-slider {

	&__controls-wrapper {
		display: flex;
		align-items: center;
	}

	&__controls-arrows {
		margin-left: 10px;
		direction: ltr;

		button {
			margin-left: 5px;
		}
	}

	&__controls-actions {
		margin-right: auto #{'/*rtl: 0 */'};
		/*!rtl:raw: margin-left: auto; */
	}

	&__controls-slides {
		margin-left: 15px #{'/*rtl: 0 */'};
		/*!rtl:raw: margin-right: 15px; */
	}
}

[data-type='getwid/content-slider-slide'] {
	max-width: 100% !important;
	display: block;

	&[data-hidden] {
		display: none;
	}
}

.wp-block-getwid-content-slider-slide__wrapper {
	> .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		max-width: 100%;
	}
}
