.media-modal{
    z-index: 1600000;
}

.components-getwid-toolbar-popup-wrapper{

    .components-getwid-toolbar-popup-wrapper-close{
        position: absolute;
        top: 5px;
        right: 5px;

        &.small-icon{
            .components-icon-button{
                padding: 1px;
            }
        }
    }

	.components-popover__content{
        padding: 15px;
        overflow: hidden;

        .components-dropdown-menu__menu{
            padding-top: 17px;
        }
	}
}

.block-editor-block-list__block[data-type="getwid/section"]{
    &>.block-editor-block-list__insertion-point{
        display: none;
    }
    .block-editor-block-contextual-toolbar{
        .block-editor-block-toolbar{
            width: auto !important;
        }
    }
}


.wp-block-getwid-section {












    















    //--------------------------------Margin & padding rulers--------------------------------
    //Empty rullers all
    .wp-block-getwid-section{
        &__spacing-area{
            &.empty-ruller{
                &:before{
                    content: "";
                    display: block;
                    position: absolute;
                }
            }
        }

        &__right-padding-area,
        &__left-padding-area,
        &__right-margin-area,
        &__left-margin-area
        {
            &:before{
                width: 5px;
                height: 100%;
                transform: translateX(-50%); 
            }            
        }

        &__top-padding-area,
        &__bottom-padding-area,
        &__top-margin-area,
        &__bottom-margin-area{
            &:before{
                width: 100%;
                height: 5px;
                transform: translateY(-50%);                 
            }
        }        

        &__top-padding-area,
        &__right-padding-area,
        &__bottom-padding-area,
        &__left-padding-area{
            &:before{
                background-color: rgba(195, 208, 139, 0);
            }
            &:hover{
                &:before{
                    background-color: rgba(195, 208, 139, 0.9);
                }
            }
        }

        &__top-margin-area,
        &__right-margin-area,
        &__bottom-margin-area,
        &__left-margin-area{
            &:before{
                background-color: rgba(249, 204, 157, 0);
            }
            &:hover{
                &:before{
                    background-color: rgba(249, 204, 157, 0.9);
                }
            }
        }        
    }

    .wp-block-getwid-section__spacing-area{
        transition: background-color linear 0.25s;
        &:before{
            transition: background-color linear 0.25s;
        }
        &:hover,
        &.active-drag-area{
            .wp-block-getwid-section__spacing-label{
                opacity: 1;
            }
		}
    }

    //All Labels
    .wp-block-getwid-section__spacing-label{
		opacity: 0;
        z-index: 1;
        pointer-events: none;
        padding: 0px 10px 0px 10px;
        border-radius: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
		background:rgba(0, 0, 0, 0.5);
		font-size: 10px;
		padding: 2px 7px;
		border-radius: 5px;

        &.empty-label{
            background: transparent;
        }

        svg{
            vertical-align: sub;
        }
    }

    //All left & right, padding & margin zone:before
    .wp-block-getwid-section__left-margin-drag-zone,
    .wp-block-getwid-section__left-padding-drag-zone,
    .wp-block-getwid-section__right-padding-drag-zone,
    .wp-block-getwid-section__right-margin-drag-zone {
        &:before{
            content: '';
            position: absolute;
            display: block;
            width: 10px;
            transform: translateX(-50%);
            height: 100%;
            right: 0;
            left: 0;
        }
    }

    .wp-block-getwid-section__top-margin-drag-zone,
    .wp-block-getwid-section__top-padding-drag-zone,
    .wp-block-getwid-section__bottom-padding-drag-zone,
    .wp-block-getwid-section__bottom-margin-drag-zone {
        &:before{
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            transform: translateY(-50%);
            height: 10px;
            right: 0;
            left: 0;
        }
    }

    //Test Colors Rullers
    // .wp-block-getwid-section__top-padding-drag-zone,
    // .wp-block-getwid-section__bottom-padding-drag-zone,
    // .wp-block-getwid-section__right-padding-drag-zone,
    // .wp-block-getwid-section__left-padding-drag-zone{
	// 	background:blue;
    // }
	// .wp-block-getwid-section__top-margin-drag-zone,
	// .wp-block-getwid-section__right-margin-drag-zone,
	// .wp-block-getwid-section__bottom-margin-drag-zone,
	// .wp-block-getwid-section__left-margin-drag-zone {
	// 	background:red;
	// }


	.wp-block-getwid-section__right-margin-drag-zone {
		// transform: translateX(-10px);
	}

    //All Padding
    .wp-block-getwid-section__top-padding-area,
    .wp-block-getwid-section__right-padding-area,
    .wp-block-getwid-section__bottom-padding-area,
    .wp-block-getwid-section__left-padding-area{
        background-color: rgba(195, 208, 139, 0);

        &:hover,
        &.active-drag-area{
            background-color: rgba(195, 208, 139, 0.9);
        }
    }

    //All Margin
    .wp-block-getwid-section__top-margin-area,
    .wp-block-getwid-section__right-margin-area,
    .wp-block-getwid-section__bottom-margin-area,
    .wp-block-getwid-section__left-margin-area{
        background-color: rgba(249, 204, 157, 0);

        &:hover,
        &.active-drag-area{
            background-color: rgba(249, 204, 157, 0.9);
        }
    }

    //Top Margin & Padding
    .wp-block-getwid-section__top-margin-area,
    .wp-block-getwid-section__top-padding-area{
        position: absolute;
        top: 0;
        z-index: 1;

        .wp-block-getwid-section__top-margin-drag-zone,
        .wp-block-getwid-section__top-padding-drag-zone{
            height: 100%;
            position: absolute;
            width: 100%;
            cursor: n-resize;
        }
    }

    //Top Margin
    .wp-block-getwid-section__top-margin-area{
        transform: translateY(-100%);
    }
	
	.wp-block-getwid-section__top-margin-drag-zone {
		// transform: translateY(-10px);
	}
	.wp-block-getwid-section__bottom-margin-drag-zone {
		// transform: translateY(10px);
	}

    //Right Margin & Padding
    .wp-block-getwid-section__right-margin-area,
    .wp-block-getwid-section__right-padding-area {
        position: absolute;
        right: 0;
        z-index: 1;

        .wp-block-getwid-section__right-margin-drag-zone,
        .wp-block-getwid-section__right-padding-drag-zone {
            height: 100%;
            position: absolute;
            width: 100%;
            cursor: ew-resize;
        }
    }

    //Left Margin
    .wp-block-getwid-section__left-margin-area {
        left: 0;
        height: 100%;
        position: absolute;
    }

    //Right Margin
    .wp-block-getwid-section__right-margin-area {
        height: 100%;
    }

    //Left Padding
    .wp-block-getwid-section__left-margin-area,
    .wp-block-getwid-section__left-padding-area {
        position: absolute;
        z-index: 1;
 
        .wp-block-getwid-section__left-margin-drag-zone,
        .wp-block-getwid-section__left-padding-drag-zone {
            height: 100%;
            position: absolute;
            width: 100%;
            cursor: ew-resize;
        }
    }

    //Bottom Margin & Padding
    .wp-block-getwid-section__bottom-margin-area,
    .wp-block-getwid-section__bottom-padding-area{
        position: absolute;
        bottom: 0;
        z-index: 1;
        .wp-block-getwid-section__bottom-margin-drag-zone,
        .wp-block-getwid-section__bottom-padding-drag-zone{
            height: 100%;
            position: absolute;
            width: 100%;
            cursor: n-resize;
			min-height: 10px;
        }
    }

    //Bottom Margin
    .wp-block-getwid-section__bottom-margin-area{
        transform: translateY(100%);
    }
    //--------------------------------Margin & padding rulers--------------------------------































    

















    .editor-block-list__layout {
        margin-right: 0;
        margin-left: 0;
    }

    .wp-block-getwid-section__inner-content {
        > .editor-inner-blocks {
            > .editor-block-list__layout {
                > .wp-block{
                    margin-left: 2px;
                    margin-right: 2px;
                    max-width: 100%;
                }
            }
        }
    }

    .play-pause-background-video {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }

    &.has-inner-blocks-gap-small {
        .wp-block-getwid-section__inner-content {
            > .editor-inner-blocks {
                > .editor-block-list__layout {
                    > .wp-block{
                        margin-top: 10px;
                        margin-bottom: 10px;
                        &:first-child {
                            margin-top: 0;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &.has-inner-blocks-gap-medium {
        .wp-block-getwid-section__inner-content {
            > .editor-inner-blocks{
                > .editor-block-list__layout {
                    > .wp-block {
                        margin-top: 20px;
                        margin-bottom: 20px;
                        &:first-child {
                            margin-top: 0;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &.has-inner-blocks-gap-normal {
        .wp-block-getwid-section__inner-content {
            > .editor-inner-blocks {
                > .editor-block-list__layout {
                    > .wp-block {
                        margin-top: 30px;
                        margin-bottom: 30px;
                        &:first-child {
                            margin-top: 0;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &.has-inner-blocks-gap-large {
        .wp-block-getwid-section__inner-content {
            > .editor-inner-blocks {
                > .editor-block-list__layout {
                    > .wp-block {
                        margin-top: 60px;
                        margin-bottom: 60px;
                        &:first-child {
                            margin-top: 0;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &.has-inner-blocks-gap-huge {
        .wp-block-getwid-section__inner-content {
            > .editor-inner-blocks {
                > .editor-block-list__layout {
                    > .wp-block {
                        margin-top: 80px;
                        margin-bottom: 80px;
                        &:first-child {
                            margin-top: 0;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    } 
}

.components-panel {
    .components-base-control__custom-wrapper {
        display: flex;
        justify-content: space-between;

        padding-top: 10px;
        padding-bottom: 10px;

        .components-base-control__label {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

.components-base-control__dropdown-content {
    .components-popover__content {
		padding: 10px 20px;
	}
}

[data-type="getwid/section"] {
    &[data-align=full] .wp-block-columns>.editor-inner-blocks {
        padding-left: 14px;
        padding-right: 14px;
    }
}