.media-modal{
    z-index: 1600000;
}

.components-popover {
    .getwid-popover-close-button{
        position: absolute;
        right: 0px;
        top: 0px;

        &:hover,
        &:focus
        {
            background-color: transparent !important;
            box-shadow: none !important;
        }

        &:hover{
            color: #555d66 !important;
        }
    }
}

.components-getwid-toolbar-popup-wrapper {

    .components-getwid-toolbar-popup-wrapper-close {
        position: absolute;
        top: 5px;
        right: 5px;

        &.small-icon{
            .components-icon-button {
                padding: 1px;
            }
        }
    }

	.components-popover__content {
        padding: 15px;
        overflow: hidden;

        .components-dropdown-menu__menu {
            padding-top: 10px;
			> * {
				&:last-child {
					margin-bottom: 0;
				}
			}
        }
	}
}

.block-editor-inner-blocks__template-picker-option.components-button {
    height: auto;
    padding: 0;
}

.block-editor-inner-blocks__template-picker-option:last-child {
    margin-right: 0;
}

.block-editor-inner-blocks__template-picker-option:first-child {
    margin-left: 0;
}

.block-editor-inner-blocks__template-picker-options.block-editor-inner-blocks__template-picker-options .block-editor-inner-blocks__template-picker-option {
    padding: 8px;
}

.block-editor-inner-blocks__template-picker-options.block-editor-inner-blocks__template-picker-options>li {
    list-style: none;
    margin: 8px;
    flex-shrink: 1;
    max-width: 100px;
}

.block-editor-inner-blocks__template-picker-options.block-editor-inner-blocks__template-picker-options {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 4px 0;
    list-style: none;
}

.block-editor-block-list__block[data-type="getwid/section"]{
    &>.block-editor-block-list__insertion-point{
        display: none;
    }
    .block-editor-block-contextual-toolbar{
        .block-editor-block-toolbar{
            width: auto !important;
        }
    }
}


.wp-block-getwid-section {

    .editor-block-list__layout {
        margin-right: 0;
        margin-left: 0;
    }

    .wp-block-getwid-section__inner-content {
        > .block-editor-inner-blocks {
            > .block-editor-block-list__layout {
                > .wp-block{
                    max-width: 100%;
                }
            }
        }
    }

    .play-pause-background-video {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }

    &.has-inner-blocks-gap-small {
        .wp-block-getwid-section__inner-content {
            > .block-editor-inner-blocks {
                > .block-editor-block-list__layout {
                    > .wp-block{
                        margin-top: 10px;
                        margin-bottom: 10px;
                        &:first-child {
                            margin-top: 0;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &.has-inner-blocks-gap-medium {
        .wp-block-getwid-section__inner-content {
            > .block-editor-inner-blocks{
                > .block-editor-block-list__layout {
                    > .wp-block {
                        margin-top: 20px;
                        margin-bottom: 20px;
                        &:first-child {
                            margin-top: 0;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &.has-inner-blocks-gap-normal {
        .wp-block-getwid-section__inner-content {
            > .block-editor-inner-blocks {
                > .block-editor-block-list__layout {
                    > .wp-block {
                        margin-top: 30px;
                        margin-bottom: 30px;
                        &:first-child {
                            margin-top: 0;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &.has-inner-blocks-gap-large {
        .wp-block-getwid-section__inner-content {
            > .block-editor-inner-blocks {
                > .block-editor-block-list__layout {
                    > .wp-block {
                        margin-top: 60px;
                        margin-bottom: 60px;
                        &:first-child {
                            margin-top: 0;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &.has-inner-blocks-gap-huge {
        .wp-block-getwid-section__inner-content {
            > .block-editor-inner-blocks {
                > .block-editor-block-list__layout {
                    > .wp-block {
                        margin-top: 80px;
                        margin-bottom: 80px;
                        &:first-child {
                            margin-top: 0;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.components-panel {
    .components-base-control__custom-wrapper {
        display: flex;
        justify-content: space-between;

        padding-top: 10px;
        padding-bottom: 10px;

        button {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .components-base-control__label {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

.components-base-control__dropdown-content {
    .components-popover__content {
		padding: 10px 20px;
	}
}
