.wp-block-getwid-section {
	position: relative;

	&__wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 1em;
		min-width: 70px;
	}

	&__background-holder {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}

	&__background {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;
		@supports (-webkit-overflow-scrolling: touch) {
			background-attachment: scroll !important;
		}
	}

	&__background-image-wrapper,
	&__background-slider-wrapper,
	&__background-video-wrapper {
		width: 100%;
		height: 100%;
	}

	&__background-image-wrapper {
		display: none;
	}

	&__background-video {
		height: 100%;
		width: 100%;
		object-fit: cover;

		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			min-width: 100%;
			min-height: 100%;
			height: auto;
			width: auto;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		&-wrapper {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

		&-youtube {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&.source-youtube{
			&.try-cover{
				padding-top: 56.25%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	&__background-slider {
		height: 100%;
		width: 100%;

		&.slick-initialized {
			.wp-block-getwid-section__background-slider-item {
				display: block;
			}
		}

		.slick-list {
			height: 100%;

			.slick-track {
				height: 100%;
			}
		}
	}

	& &__background-slider-item {
		width: 100%;
		height: 100%;
		display: none;

		// Fix image cover in IE 11
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			position: relative;
		}

		&:first-child {
			display: block;
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;

			// Fix image cover in IE 11
			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				min-width: 100%;
				min-height: 100%;
				height: auto;
				width: auto;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	&__foreground {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__inner-wrapper {
		width: 100%;
		max-width: 768px;

		&.has-dividers-over {
			z-index: 0;
		}
	}

	&__content {
		position: relative;
		z-index: 1;
	}

	&__divider {
		position: absolute;
		left: 0;
		right: 0;
		overflow: hidden;
		z-index: 1;
		max-height: 100%;

		&.is-bottom-divider {
			bottom: 0;

			.wp-block-getwid-section__divider-svg {
				transform: translateX(-50%) rotate(180deg) translateY(-1px);

				&-negative {
					transform: translateX(-50%) translateY(1px);
				}
			}
		}

		&.is-top-divider {
			top: 0;
		}

		.wp-block-getwid-section__divider-svg {
			position: relative;
			display: block;
			left: 50%;
			transform: translateX(-50%) translateY(-1px);
			width: calc(100% + 2px);

			&-negative {
				transform: translateX(-50%) rotate(180deg) translateY(1px);
			}
		}
	}

	&.getwid-section-content-full-width {
		> .wp-block-getwid-section__wrapper {
			> .wp-block-getwid-section__inner-wrapper {
				max-width: 100% !important;
			}
		}
	}

	&.has-inner-blocks-gap-small {
		> .wp-block-getwid-section__wrapper
		> .wp-block-getwid-section__inner-wrapper
		> .wp-block-getwid-section__content
		> .wp-block-getwid-section__inner-content > * {
			margin-top: 10px;
			margin-bottom: 10px;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.has-inner-blocks-gap-medium {
		> .wp-block-getwid-section__wrapper
		> .wp-block-getwid-section__inner-wrapper
		> .wp-block-getwid-section__content
		> .wp-block-getwid-section__inner-content > * {
			margin-top: 20px;
			margin-bottom: 20px;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.has-inner-blocks-gap-normal {
		> .wp-block-getwid-section__wrapper
		> .wp-block-getwid-section__inner-wrapper
		> .wp-block-getwid-section__content
		> .wp-block-getwid-section__inner-content > * {
			margin-top: 40px;
			margin-bottom: 40px;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.has-inner-blocks-gap-large {
		> .wp-block-getwid-section__wrapper
		> .wp-block-getwid-section__inner-wrapper
		> .wp-block-getwid-section__content
		> .wp-block-getwid-section__inner-content > * {
			margin-top: 60px;
			margin-bottom: 60px;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.has-inner-blocks-gap-huge {
		> .wp-block-getwid-section__wrapper
		> .wp-block-getwid-section__inner-wrapper
		> .wp-block-getwid-section__content
		> .wp-block-getwid-section__inner-content > * {
			margin-top: 80px;
			margin-bottom: 80px;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.has-inner-blocks-gap-none {
		> .wp-block-getwid-section__wrapper
		> .wp-block-getwid-section__inner-wrapper
		> .wp-block-getwid-section__content
		> .wp-block-getwid-section__inner-content > * {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

.getwid-background-video-controls {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	display: flex;
	flex-direction: column;

	.getwid-background-video-play,
	.getwid-background-video-mute {
		background: transparent;
		border: 0;
		color: #fff;
		padding: 1em;
		text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
		opacity: .75;
		box-shadow: none;
		text-decoration: none;

		&:before,
		&:after {
			display: none;
		}

		&:focus,
		&:hover {
			background: transparent;
			border: 0;
			color: #fff;
			opacity: 1;
			text-decoration: none;
			box-shadow: none;
		}

		&:hover {
			cursor: pointer;
		}

		&:focus {
			outline: none;
		}

		&:first-child {
			padding-bottom: .5em;
		}

		&:last-child {
			padding-top: .5em;
		}

		i {
			width: 1em;
			height: 1em;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.getwid-icon {
		font-family: 'Font Awesome 5 Free';
		font-weight: 400;
		font-style: normal;

		&-play {
			&:before {
				content: "\f144";
			}
		}

		&-pause {
			&:before {
				content: "\f28b";
			}
		}

		&-mute {
			font-weight: 900;

			&:before {
				content: "\f6a9";
			}
		}

		&-volume-up {
			font-weight: 900;

			&:before {
				content: "\f028";
			}
		}
	}

	&.is-position-top-left {
		left: 0;
		right: auto;
	}

	&.is-position-bottom-left {
		left: 0;
		right: auto;
		bottom: 0;
		top: auto;
	}

	&.is-position-bottom-right {
		top: auto;
		bottom: 0;
	}

	&.is-position-center-center {
		top: 50%;
		left: 50%;
		right: auto;
		bottom: auto;
		transform: translate(-50%, -50%);
		flex-direction: row;

		.getwid-background-video-play,
		.getwid-background-video-mute {
			padding: 1em;
		}
	}
}
