.wp-block-getwid-icon{
    &--framed{
        .wp-block-getwid-icon__wrapper{
            border-width: 1px;
            border-style: solid;
            border-color: currentColor;
            border-radius: 100%;
        }
        
    }
    &--stacked{
        .wp-block-getwid-icon__wrapper{
            border-radius: 100%;
        }
    }
    &--icon-left{
        text-align: left;
    }
    &--icon-center{
        text-align: center;
    }
    &--icon-right{
        text-align: right;
    }
    .wp-block-getwid-icon__wrapper{
        display: inline-block;
        line-height: 1;
        padding: 15px;
        font-size: 32px;
        text-align: center;
    }
    i{
        display: inline-block;
        height: 1em;
        width: 1.1em;
        position: relative;
        vertical-align: middle;
        top: -0.07em;
        &:before{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    a.wp-block-getwid-icon__wrapper{
        text-decoration: none;
        transition: all .3s ease;
        &:hover{
            cursor: pointer;
        }
    }
}