.wp-block-getwid-template-post-layout-helper{
    .components-button{
		height: auto;
        width: 100%;
        margin-bottom: 10px;
		padding: 16px 20px;
		svg{
			width: 64px;
			height: 64px;
			margin-right: 1em;
		}
    }
	.block-editor-inner-blocks__template-picker-options{
		display: flex;
		flex-direction: column;
		list-style: none;	
	}
}
