.wp-block-getwid-progress-bar {
	width: 100%;
	position: relative;

	&__header {
		width: 100%;
		display: flex;
		vertical-align: middle;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: .25em;

		> * {
			margin: 0;
		}
	}

	&__percent {
		margin-left: auto;
	}

	&__bar {
		height: 5px;
		overflow: hidden;
		width: 100%;
		background-color: #eee;
	}

	&__progress {
		height: 100%;
		overflow: hidden;
		background-color: currentColor;
	}
}
