.wp-block-getwid-progress-bar {
    $main_class: '.wp-block-getwid-progress-bar';

    display: flex;
    width: 100%;
    position: relative;  
    vertical-align: middle;    
    flex-direction: column;
        
    & #{$main_class}__title-holder {
        &.have-no-title {
            width: 100%;
            text-align: right;
            color: #111;
        }

        &:not(.have-no-title) {
            display: flex;
            width: 100%;
            vertical-align: middle;
            flex-direction: row;
            justify-content: space-between;

            color: #111;
        }

        & #{$main_class}__title {
            margin: 0;
        }
    }

    & #{$main_class}__bar-background {

        height: 5px;
        overflow: hidden;
        width: 100%;
        background-color: #ebf0f3;
    }
        
    & #{$main_class}__content {
            
        height: 5px;
        overflow: hidden;
        background-color: currentColor;
        color: #5cb0d8;
    }
}