.wp-block-getwid-progress-bar {
    $main_class: '.wp-block-getwid-progress-bar';

    &.ui-type-default {
        display: flex;
        width: 100%;
        position: relative;  
        vertical-align: middle;    
        flex-direction: column;

        & #{$main_class}__title-holder {

            display: flex;
            width: 100%;
            vertical-align: middle;
            flex-direction: row;
            justify-content: space-between;
        }

        & #{$main_class}__content-holder {

            height: 5px;
            overflow: hidden;
            width: 100%;
            background-color: #ebf0f3;
        }
        
        & #{$main_class}__content {
            
            height: 5px;
            width: 100%;
            overflow: hidden;
            background-color: currentColor;
            color: #5cb0d8;
        }
    }

    &.ui-type-circle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    

    & &__circle-wrapper {
        min-height: 200px;
        min-width: 200px;

        & #{$main_class}__circle-background {
            height: 190px;
            width: 190px;

            position: absolute;
            background-color: #ebf0f3;
            border-radius: 50%;
            top:58%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        & #{$main_class}__circle-foreground {
            height: 180px;
            width: 180px;
            position: absolute;
            background-color: #fff;
            border-radius: 50%;
            top:58%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        & #{$main_class}__counter {
            top:58%;
            left: 50%;
            position: absolute;
            transform: translate(-50%,-50%);
            z-index: 1;
        }
    }
}