.wp-block-getwid-toggle {

	&__add-toggle {
		display: flex;
		justify-content: center;
	}

    .wp-block-getwid-toggle__header {
	    margin: 0 !important;
        .wp-block-getwid-toggle__icon {
            i {
                font-style: normal;
            }
        }
    }
}

.wp-block-getwid-toggle-item{
	&__header-title{
		display: block;
	}
}

[data-type="getwid/toggle"]{
	&:not(.is-selected):not(.has-child-selected){
		.wp-block-getwid-toggle-item{
			.wp-block-getwid-toggle-item__content{
				height: 0;
				overflow: hidden;
				padding: 0;
				margin: 0;
			}
		}
	}
}

[data-type="getwid/toggle"]{
	&.is-selected,
	&.has-child-selected{
		.wp-block-getwid-toggle-item{
			.wp-block-getwid-toggle-item__icon{
				&.is-active{
					display: none;
				}

				&.is-passive{
					display: block;
				}
			}

			.wp-block-getwid-toggle-item__content{
				height: auto;
			}
		}
	}
}