.wp-block-getwid-toggle {

	&__add-toggle {
		display: flex;
		justify-content: center;
	}

    .wp-block-getwid-toggle__header {
	    margin: 0 !important;
        .wp-block-getwid-toggle__icon {
            i {
                font-style: normal;
            }
        }
    }
}

.wp-block-getwid-toggle-item{
	&__header-title{
		display: block;
	}
}

[data-type="getwid/toggle-item"][data-align=wide]
{
	margin-left: auto !important;
    margin-right: auto !important;
}

[data-type="getwid/toggle-item"][data-align="full"]
{
	margin-left: 50px !important;
    margin-right: 50px !important;
}

[data-type="getwid/toggle-item"][data-align="full"] .wp-block{
    max-width: none;
}

[data-type="getwid/toggle-item"]{
	&:not(.is-selected):not(.has-child-selected):not([toggle-active-default="true"]){
		.wp-block-getwid-toggle-item{
			.wp-block-getwid-toggle-item__content{
				height: 0;
				overflow: hidden;
				padding: 0;
				margin: 0;
			}
		}
	}
}

[toggle-active-default="true"]{
	.wp-block-getwid-toggle-item{
		.wp-block-getwid-toggle-item__icon{
			&.is-active{
				display: none;
			}

			&.is-passive{
				display: block;
			}
		}

		.wp-block-getwid-toggle-item__content{
			height: auto;
		}
	}
}

[data-type="getwid/toggle-item"]{
	&.is-selected,
	&.has-child-selected{
		.wp-block-getwid-toggle-item__icon{
			&.is-active{
				display: none;
			}

			&.is-passive{
				display: block;
			}
		}

		.wp-block-getwid-toggle-item__content{
			height: auto;
		}
	}
}