.wp-block-getwid-template-post-background-image-acf{
	$base-class: '.wp-block-getwid-template-post-background-image-acf';

	min-height: 200px;

	&__wrapper{
		padding: 25px 14px;
	}

	&__content{
		padding: 14px;
	}
}
