.wp-block-getwid-template-post-author{
    margin-bottom: .5em;

    i{
        font-size: 0.7em;
        margin-right: .5em;
        min-width: 1.25em;
    }

    &.has-text-color{
        i{
            color: inherit;
        }
    }
}