/*!
 * getwid-template-post-author
 */

.wp-block-getwid-template-post-author {
	margin-bottom: .5em;

	i {
		font-size: 0.7em;
		/*!rtl:begin:remove*/
		margin-right: .5em;
		/*!rtl:end:remove*/
		min-width: 1.25em;
		/*!rtl:raw: margin-left: .5em; */
	}

	&.has-text-color {
		a {
			color: inherit;
		}
	}

}
