.wp-block-getwid-anchor{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

	span{
		border-top: 1px solid currentColor;
		flex: 1 1 auto;
	}

	svg{
		margin: 0px 10px 0px 10px;
	}
}
