.wp-block-getwid-template-acf-background-image {
    $base-class: '.wp-block-getwid-template-acf-background-image';

	padding: 25px;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	margin-bottom: .5em;

	&:only-child {
		height: 100%;
	}

	& &__image {
		position: absolute;
		background-position: center center;
		background-attachment: scroll;
		background-size: cover;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}

	&__foreground {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		opacity: .35;
	}

	&__content {
		position: relative;
		width: 100%;

		.wp-block-getwid-section {
			height: 100%;
		}
	}
}
