#adminmenu #toplevel_page_getwid_settings .wp-menu-image img{
    opacity: 1;
    max-width: 100%;
    box-sizing: border-box;
    padding: 6px;
}

.getwid_settings_page{
    
}

.getwid_settings_page .getwid_admin_contact_us{
    border-top: 1px solid #ccc;
    margin: 20px 0 0 0;
}

.getwid_settings_page .getwid_admin_logo_wrapper img{
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}

.getwid_settings_page .getwid_admin_logo_wrapper a{
    vertical-align: -webkit-baseline-middle;
}

