$selectWidth: 100px;
$unitsMargin: 10px;
.components-panel__body {
	.components-getwid-style-length-control {
		display: flex;
		align-items: flex-end;

		> .components-base-control {
			margin-bottom: 0;

			&:last-child {
				margin-bottom: 0;
			}

			.components-base-control__field {
				margin-bottom: 0;
			}
		}

		.components-getwid-style-length-control__unit_select {
			margin-left: 10px;

			select {
				height: 30px;
				min-width: 60px;
			}
		}
	}
}
