$selectWidth: 100px;
$unitsMargin: 10px;
.components-getwid-style-length-control {
	&__value_input {
		display: inline-block;
		width: calc(100% - #{$selectWidth} - #{$unitsMargin});
	}
	&__unit_select {
		display: inline-block;
		width: $selectWidth;
		margin-left: $unitsMargin !important;
	}
}