.wp-block-getwid-custom-post-type{
    $base-class: '.wp-block-getwid-custom-post-type';
    overflow: hidden;

    & > &__wrapper{

    }

    &.has-cropped-images{
        #{$base-class}__post-thumbnail{
			width: 100%;
			a{
				position: relative;
				padding-top: 100%;
				width: 100%;
				img{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}
        }
    }

    & &__post{
        margin-bottom: 1.5rem;
        > #{$base-class}__post-thumbnail{
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 1em;
        }
        #{$base-class}__content-wrapper{
            margin-top: 1em;
            &:first-child{
                margin-top: 0;
            }
            > #{$base-class}__entry-header,
            > #{$base-class}__post-content,
            > #{$base-class}__entry-footer{
                max-width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
            > #{$base-class}__post-content{
                > *{
                    max-width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }

    #{$base-class}__post{
        &-wrapper{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        #{$base-class}__post-title{
            margin: 0;
        }
        #{$base-class}__entry-meta{
            margin-top: .5em;
            &:first-child{
                margin-top: 0;
            }
        }
        #{$base-class}__post-thumbnail{
            a{
               display: block;
               img{
                   display: block;
               }
            }
        }
        #{$base-class}__post-content{
            > *{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        #{$base-class}__entry-footer,
        #{$base-class}__entry-header{
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        #{$base-class}__entry-meta,
        #{$base-class}__entry-footer{
            font-size: .875em;
        }

        #{$base-class}__post-content,
        #{$base-class}__entry-footer{
            margin-top: .5em;
            &:first-child{
                margin-top: 0;
            }
        }
        #{$base-class}__entry-footer {
            > p {
                margin: 0;
            }
        }
    }

    &.has-layout-list{
        #{$base-class}__post{
            @media screen and(min-width: 768px){
                #{$base-class}__post-wrapper{
                    flex-direction: row;
                }
                #{$base-class}__entry-header{
                    margin-top: 0;
                    #{$base-class}__post-title{
                        margin-top: 0;
                    }
                }

                #{$base-class}__post-thumbnail{
                    max-width: 40%;
                    margin: 0;
                    &:only-child{
                        width: 100%;
                    }
                    + #{$base-class}__content-wrapper{
                        margin-left: 5%;
                        margin-top: 0;
                        max-width: 55%;
                        width: 100%;
                    }
                }
            }
        }
    }

}