.wp-block-getwid-social-links{

    &__item {
        display: inline-block;        
        &.icon-selected{
            outline: 1px solid #0085ba;
        }
    }

    &__link{
        &:hover{
        }
    }

}

.wp-block-getwid-social-links__popover{
    .components-popover__content{
        min-width: 400px !important;
    }
}