.wp-block-getwid-social-links{
    
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 36px;
    
    &.is-small-spacing &__item{
        margin: 0 0.5em 0 0;
    }

    &.is-medium-spacing &__item{
        margin: 0 1em 0 0;
    }

    &.is-large-spacing &__item{
        margin: 0 1.5em 0 0;
    }

    &.is-big-spacing &__item{
        margin: 0 2em 0 0;
    }

    & &__item{
        margin: 0 1em 0 0;
        padding: 0;
        &:before,
        &:after{
            display: none;
        }
        &:last-child{
            margin-right: 0;
        }
    }

    & &__link{
        border: 0;
        text-decoration: none;
        color: inherit;
        &:before,
        &:after{
            display: none;
        }
        &:hover{
            text-decoration: none;
        }
        
        i{
            &:before{
                width: 1em;
                height: 1em;
                display: block;
                text-align: center;
                line-height: 1em;                
            }
        }
    }
    
    & &__label{
		margin-left: 0.5em;
        @media screen and(min-width: 768px){
            //display: none;
        }
    }
    
    &.is-framed{
        .wp-block-getwid-social-links__link{
            i{
                border-width: 1px;
                border-style: solid;
                border-color: currentColor;
                border-radius: 100%;   
                padding: 1em;                
            }
        }        
    }
    
    &.is-stacked{
        .wp-block-getwid-social-links__link{
            i{                
                border-radius: 100%;   
                padding: 1em;                
                background: #eee;                
            }
        }
    }

    &.is-icons-left{
        justify-content: flex-start;
    }
    &.is-icons-center{
        justify-content: center;
    }
    &.is-icons-right{
        justify-content: flex-end;
    } 

}