.wp-block-getwid-price-list {
	display: flex;
	margin: 0 0 30px 0;
	flex-direction: column;
	@media screen and(min-width: 768px) {
		flex-direction: row;
	}

	&__image-wrapper {
		margin-bottom: 20px;
		@media screen and(min-width: 768px) {
			margin-right: 20px;
			margin-bottom: 0;
		}
	}

	&__image {
		display: block;
	}

	&__content-wrapper {
		width: 100%;
	}

	&__header {
		display: flex;
		flex-direction: row;
		align-items: baseline;
		justify-content: space-between;
	}

	& &__title {
		margin: 0;
		word-break: initial;
	}

	& &__currency,
	& &__amount {
		margin: 0;
	}

	&__amount {
		white-space: nowrap;
	}

	&__price-wrapper {
		display: flex;
		flex-direction: row;

		&.has-currency-after,
		&.has-currency-after-space {
			flex-direction: row-reverse;
		}

		&.has-currency-after-space {
			.wp-block-getwid-price-list__currency {
				margin-left: .5em;
			}
		}

		&.has-currency-before-space {
			.wp-block-getwid-price-list__currency {
				margin-right: .5em;
			}
		}
	}

	&__description {
		margin: 0;
	}
}

.has-dots {
	.wp-block-getwid-price-list__price-line {
		margin: 0 10px;
		flex-grow: 1;
		border-bottom-style: dotted;
		border-bottom-width: 1px;
	}
}

.has-text-color {
	.wp-block-getwid-price-list__title,
	.wp-block-getwid-price-list__currency,
	.wp-block-getwid-price-list__amount,
	.wp-block-getwid-price-list__description {
		color: inherit;
	}
}
