.wp-block-getwid-price-list {
	$main_class: '.wp-block-getwid-price-list';

	display: flex;
	flex-direction: row;

	margin: 0 0 30px 0;

	& #{$main_class}__image-wrapper {		
		margin-right: 20px;

		img {
			border-radius: 75px;
		}
	}

	& #{$main_class}__content-wrapper {
		width: 100%;

		& #{$main_class}__title-wrapper {
			display: flex;
			flex-direction: row;

			& #{$main_class}__title,
			& #{$main_class}__currency,
			& #{$main_class}__amount {

				margin: 0;
			}
	
			& #{$main_class}__price-line {
				margin: 0 10px;
				flex-grow: 1;

				border-bottom-style: dotted;
				border-bottom-width: 1px;

				transform: translateY(-12px);
			}
		}

		& #{$main_class}__description {				
			margin: 0;
		}
	}
}