.has-child-selected,
.is-selected {
	.wp-block-getwid-tabs {
		.active-tab {
			outline: 2px solid #0085ba;
			z-index: 1;
		}
	}
}

.wp-block-getwid-tabs {
	.wp-block-getwid-tabs__add-tab {
		margin-left: 6px !important;
		border: none !important;
		margin-top: 5px !important;
		margin-bottom: 5px !important;
	}

	.wp-block-getwid-tabs__nav-links {
		margin: 0 !important;
		padding: 0 !important;
		list-style: none !important;
	}

	.wp-block-getwid-tabs__title-wrapper {
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}

	.wp-block-getwid-tabs__tab-content-wrapper {
		flex: 0 1 auto;
		min-width: 0;
		height: auto;
		overflow: visible;
		position: static;
	}

	.wp-block[data-type="getwid/tabs-item"] {
		height: 0;
		overflow: hidden;
		position: absolute;
		width: 100%;
		max-width: 100%;

		.wp-block-getwid-tabs__content {
			> .block-editor-inner-blocks {
				> .block-editor-block-list__layout {
					> .wp-block {
						max-width: 100%;
					}
				}
			}
		}

	}

	@for $index from 1 through 15 {
		&--current-tab-#{$index} [data-type="getwid/tabs-item"]:nth-of-type(#{$index}) {
			height: auto;
			overflow: visible;
			position: static;
		}
	}

}