[data-type="getwid/tabs-item"] {
    transform: none !important;
	transform-origin: initial !important;
	margin: 0 !important;

	// display: none;
	height: 0;
	overflow: hidden;

	.block-editor-block-list__layout{
		position: static;
	}
}

[data-type="getwid/tabs-item"][data-align=wide]
{
	margin-left: auto !important;
    margin-right: auto !important;
}

[data-type="getwid/tabs-item"][data-align="full"]
{
	margin-left: 50px !important;
    margin-right: 50px !important;
}

[data-type="getwid/tabs-item"][data-align="full"] .wp-block{
    max-width: none;
}

.wp-block-getwid-tabs{
	@for $index from 1 through 12 {
		&--current-tab-#{$index} [data-type="getwid/tabs-item"]:nth-of-type(#{$index}){
			height: auto;
			// display: block;
		}
	}

	&__icon{
		margin-right: 0.5em;
	}

	&__edit-area{
		display: inline-block;
	}

    &.is-selected{
        .ui-state-active{
            outline: 2px solid #0085ba;
			z-index: 1;
        }
	    .wp-block-getwid-tabs__add-tab {
		    margin-left: 6px !important;
		    border: none !important;
		    margin-top: 5px !important;
		    margin-bottom: 5px !important;
	    }
    }

	.wp-block-getwid-tabs__add-tab{
		margin-left: 15px;
        .components-button {
			margin: 0 auto;
		}
	}

	.wp-block-getwid-tabs-item__nav-link{
		&.active-tab{
			a{
				color: #0070a7 !important;
			}
		}
	}

	.wp-block-getwid-tabs__nav-links{
		margin: 0 !important;
		padding: 0 !important;
		list-style: none !important;
	}

	.wp-block-getwid-tabs__title-wrapper{
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}
}