.wp-block-getwid-tabs {

	.wp-block-getwid-tabs__tab-content{
		&:not(.is-active-tab){
			display: block !important;
			height: 0;
			overflow: hidden;
			padding: 0;
			border: 0px;
		}

		&.is-active-tab{
			height: auto;
		}
	}
	//Specific variables for this block

	$border_color: #ebeef1;
	$border_width: 1px;

	&__nav-links {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 0;
		margin: 0 0 -#{$border_width} 0;
	}

	&-item__nav-link {
		margin: 0 5px 0 0;
		padding: 0;
		position: relative;
		border: #{$border_width} solid transparent;
		border-bottom: 0;

		&:last-child {
			margin-right: 0;
		}

		&:before,
		&:after {
			display: none;
		}

		&:hover {
			border-color: $border_color;
		}

		&.ui-tabs-active {
			border-color: $border_color;
			background: #fff;
		}

		a {
			padding: .5em 0.75em !important;
			display: block;
			text-decoration: none;
			border: 0;
			box-shadow: none;
			display: inline-block;

			&:focus {
				border: 0;
				outline: none;
				box-shadow: none;
			}
			&:hover{
				text-decoration: none;
			}
		}
	}

	& &__title-wrapper {
		margin: 0;
		padding: 0;
		border: 0;

		&:before,
		&:after {
			display: none;
		}
	}

	&__tab-content {
		border: #{$border_width} solid #{$border_color};
		padding: 1.5em;
	}
}

.has-layout-vertical-left,
.has-layout-vertical-right,
.is-style-vertical {
	display: flex;

	.wp-block-getwid-tabs__nav-links {
		flex-direction: column;
		align-items: initial;
		flex: 0 1 auto;
		margin: 0 -1px 0 0;
		max-width: 25%;
	}

	.wp-block-getwid-tabs__nav-link {
		margin: 0 0 5px 0;
		border: 1px solid #eee;
		border-right: 0;

		* {
			word-wrap: break-word;
			hyphens: auto;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.wp-block-getwid-tabs__tab-content {
		flex: 1;
	}
}

.has-layout-vertical-right {
	flex-direction: row-reverse;

	.wp-block-getwid-tabs__nav-links {
		margin: 0 0 0 -1px;

		.wp-block-getwid-tabs__nav-link {
			border: 1px solid #eee;
			border-left: 0;
		}
	}
}

.has-layout-horizontal-center {
	.wp-block-getwid-tabs__nav-links {
		justify-content: center;
	}
}

.has-layout-horizontal-right {
	.wp-block-getwid-tabs__nav-links {
		justify-content: flex-end;
	}
}