.wp-block-getwid-table-of-contents{
	transition: all 0.5s ease-in-out;
    background-color: #fafafa;
    border: 1px solid #dfdfdf;
    padding: 30px !important;
    margin-top: 20px 0px 20px 0px !important;
}
