.wp-block-getwid-table-of-contents {

	&.is-style-default {
		ul {
			list-style: none;
		}

		.wp-block-getwid-table-of-contents__list {
			padding: 0;
			margin: 0;

			> li {
				padding-left: 0;
				margin-left: 0;
			}
		}
	}

	&.is-style-unordered {

	}

	&.is-style-ordered {

	}
}
