.wp-block-getwid-image-hotspot{

    &__image-wrapper{
        .coords_info{
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px;
            font-size: 15px;
            background-color: #fff;
            margin: 5px;
        }
    }
   
    .wp-block {
        max-width: 100% !important;
    }

    &--dropPoint{
        cursor: crosshair;
    }
}