$base_class: '.wp-block-getwid-image-hotspot';

//Color palette fix
.components-popover.components-color-palette__picker{
    z-index: 9999999 !important;
    .components-popover__content{
        z-index: 1;
    }
}

#{$base_class}__modal{

    .getwid-modal-editor-tabs{
        padding: 0px 0px 0px 0px;
        .components-tab-panel__tabs{
            padding: 0px 0px 0px 0px;
            background-color: #f3f4f5;
            margin: -16px -16px 10px -16px;
            .components-button{
                padding: 10px 10px 15px 10px;
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 1px;
                    right: 0;
                    left: 0;
                    border-bottom: 3px solid transparent;
                }
                &.is-active{
                    font-weight: 500;
                    &:before{
                        border-bottom: 3px solid #007cba;
                    }
                }
            }
        }
    }

    #{$base_class}__icon-popover{
        margin: 0px auto;
    }

    #{$base_class}__url-field{
        display: flex;
        align-items: center;
        margin-top: 0.5em;
        flex-wrap: wrap;
    
        .dashicon{
            color: #8f98a1;
        }
    
        .components-base-control{
            margin-left: 10px;
        }
    
        .components-base-control + .components-base-control{
            margin-bottom: 0px;
        }
    
        .components-toggle-control .components-base-control__field .components-toggle-control__label{
            margin-bottom: 0px;
        }
    
        .components-base-control__field{
            align-items: flex-end;
            margin: 0;
        }
    }
}

#{$base_class}__icon-popover{
    margin: 10px auto;
}

#{$base_class}__popover {
	.components-popover__content {
		padding: 1em;
		overflow: initial !important;
		#{$base_class}__popover-close {
			position: absolute;
			top: 5px;
			right: 5px;
		}
	}
}

.edit-post-settings-sidebar__panel-block{
    #{$base_class}__url-field{
        #{$base_class}__url-icon{
            display: none;
        }
    }
}

.wp-block-getwid-image-hotspot{
   
    .wp-block {
        max-width: 100% !important;
    }

    &--dropPoint{
        cursor: crosshair;
    }

    &--dotSelected{
        #{$base_class}__dot.selected_dot{
            opacity: 1 !important;
        }
        #{$base_class}__dot:not(.selected_dot){
            opacity: 0.5 !important;
        }
    }    
}