.wp-block-getwid-image-hotspot{

    $base_class: '.wp-block-getwid-image-hotspot';

    #{$base_class}__image-container{
        margin: 0 0 20px 0;
        line-height: 0;
        flex: 1 0 auto;
        &.is-position-top{
            align-self: flex-start;
        }
        &.is-position-middle{
            align-self: center;
        }
        &.is-position-bottom{
            align-self: flex-end;
        }
        #{$base_class}__image-wrapper{
            display: inline-block;
            line-height: 1;
            img{
                display: block;
            }
        }
        a#{$base_class}__image-wrapper{
            text-decoration: none;
            transition: all .3s ease;
            &:hover{
                cursor: pointer;
            }
        }
    }

    #{$base_class}__content{
        order: 0;
        flex: 0 1 100%;
        align-self: center;
    }

    &.has-text-left{
        text-align: left;
    }
    &.has-text-center{
        text-align: center;
    }
    &.has-text-right{
        text-align: right;
    }

    &.has-image-left,
    &.has-image-right{
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    &.has-image-left{
        #{$base_class}__image-container{
            margin: 0 20px 0 0;
            //@media screen and(min-width: 768px){
                max-width: 50%;
            //}
        }
    }

    &.has-image-right{
        #{$base_class}__image-container{
            order: 1;
            margin: 0 0 0 20px;
            //@media screen and(min-width: 768px){
                max-width: 50%;
            //}
        }
    }

    &.has-mobile-layout-column{
        @media screen and(max-width: 767px){
            flex-direction: column;
        }
        #{$base_class}__image-container{
            @media screen and (max-width: 767px){
                max-width: 100%;
                order: 0;
                margin-bottom: 20px;
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
    }

    &.has-mobile-layout-column-reverse{
        @media screen and(max-width: 767px){
            flex-direction: column;
        }
        #{$base_class}__image-container{
            @media screen and(max-width: 767px){
                max-width: 100%;
                order: 1;
                margin-top: 20px;
                margin-right: 0 !important;
                margin-left: 0 !important;
            }
        }
    }

    &.has-mobile-alignment-center{
        @media screen and(max-width: 767px){
            text-align: center;
            #{$base_class}__image-container{
                align-self: center;
            }
        }
    }
    &.has-mobile-alignment-left{
        @media screen and(max-width: 767px){
            text-align: left;
            #{$base_class}__image-container{
                align-self: flex-start;
            }
        }
    }
    &.has-mobile-alignment-right{
        @media screen and(max-width: 767px){
            text-align: right;
            #{$base_class}__image-container{
                align-self: flex-end;
            }
        }
    }


    &[data-animation="slideTop"]{
        #{$base_class}__image-wrapper{
            transition: .3s ease;
            transform: none;
        }
        &:hover{
            #{$base_class}__image-wrapper {
                transform: translateY(-10%);
            }
        }
    }
    &[data-animation="slideBottom"]{
        #{$base_class}__image-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            #{$base_class}__image-wrapper {
                transform: translateY(10%);
            }
        }
    }
    &[data-animation="slideLeft"]{
        #{$base_class}__image-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            #{$base_class}__image-wrapper {
                transform: translateX(-10%);
            }
        }
    }
    &[data-animation="slideRight"]{
        #{$base_class}__image-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            #{$base_class}__image-wrapper {
                transform: translateX(10%);
            }
        }
    }
    &[data-animation="zoomSmall"]{
        #{$base_class}__image-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            #{$base_class}__image-wrapper {
                transform: scale(1.1);
            }
        }
    }
    &[data-animation="zoomBig"]{
        #{$base_class}__image-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            #{$base_class}__image-wrapper {
                transform: scale(1.3);
            }
        }
    }
}