.wp-block-getwid-image-hotspot__tooltip {
	min-width: 100px;
	max-width: 150px;
	padding: 10px;

	& &-title {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: .5em;
	}

	& &-content {
		img {
			max-width: 100%;
		}

		iframe {
			max-width: 100%;
		}
	}

}

.wp-block-getwid-image-hotspot {

	display: flex;
	justify-content: center;

	.wp-block-getwid-image-hotspot__wrapper {
		position: relative;
	}

	.wp-block-getwid-image-hotspot__image {
		display: block;
	}

	.wp-block-getwid-image-hotspot__dot {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 1;
		padding: 6px;
		background-color: #0085ba;
		border-radius: 50%;
		transition: opacity .3s ease;
		cursor: pointer;
		outline: none;

		&.has-animation-pulse:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: inherit;
			border-radius: 50%;
			transition: all .3s ease-in;
			animation: getwidHotSpotPulseAnimation 1.5s ease infinite;
		}

		&-description {
			display: none;
		}

		&-content {
			color: #fff;
			font-size: 14px;
		}

		&-icon {
			display: block;
			height: 1.25em;
			width: 1.25em;
			position: relative;
			line-height: 1.25;
			text-align: center;
		}
	}
}
