.wp-block-getwid-image-hotspot__tooltip{
    min-width: 100px;
    max-width: 150px;
    padding: 10px;
    .tooltip_title{
        font-size: 16px;
        font-weight: bold;
    }
    .tooltip_content{
        img{
            max-width: 100%;
        }        
        iframe{
            max-width: 100%;
        }
    }

}

.wp-block-getwid-image-hotspot{

    $base_class: '.wp-block-getwid-image-hotspot';

    #{$base_class}__image-container{
        margin: 0 0 20px 0;
        line-height: 0;
        flex: 1 0 auto;
        #{$base_class}__image-wrapper{
            position: relative;
            display: inline-block;
            line-height: 1;
            img{
                display: block;
            }

            #{$base_class}__dot{
                position: absolute;
                left: 0;
                top: 0;
                height: 20px;
                width: 20px;
                opacity: 1;
                padding: 4px;
                box-sizing: content-box;
                background: #0085ba;;
                border-radius: 50%;
                transition: opacity .3s ease;
                cursor: pointer;
                
                &.dotpulse:before{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: inherit;
                    border-radius: 50%;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transition: -webkit-transform .3s ease;
                    -moz-transition: -moz-transform .3s ease;
                    transition: transform .3s ease;
                    -webkit-animation: hotSpotPulseAnimation 1s ease infinite;
                    -moz-animation: hotSpotPulseAnimation 1s ease infinite;
                    animation: hotSpotPulseAnimation 1s ease infinite;
                }
                & .hotspot_inner{
                    display: none;
                }
                & .inner_dot{
                    left: 50%;
                    top: 50%;
                    position: absolute;
                    transform: translate(-50%,-50%);
                    color: #fff;
                    font-size: 14px;
                    i{
                        display: block;
                        height: 1em;
                        width: 1em;
                        position: relative;
                        &:before{
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }            
            }            
        }
    }
}