.wp-block-getwid-image-box{

    .wp-block-getwid-image-box__image-container{
        margin: 0 0 20px 0;
        line-height: 0;
        flex: 0 1 auto;
        &--position-top{
            align-self: flex-start;
        }
        &--position-middle{
            align-self: center;
        }
        &--position-bottom{
            align-self: flex-end;
        }
        .wp-block-getwid-image-box__image-wrapper{
            display: inline-block;
            line-height: 1;
            img{
                display: block;
            }
        }
        a.wp-block-getwid-image-box__image-wrapper{
            text-decoration: none;
            transition: all .3s ease;
            &:hover{
                cursor: pointer;
            }
        }
    }

    .wp-block-getwid-image-box__content{
        order: 0;
        flex: 0 1 auto;
        align-self: center;
        width: 100%;
    }

    &--text-left{
        text-align: left;
    }
    &--text-center{
        text-align: center;
    }
    &--text-right{
        text-align: right;
    }

    &--image-left,
    &--image-right{
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    &--image-left{
        .wp-block-getwid-image-box__image-container{
            margin: 0 20px 0 0;
            @media screen and(min-width: 768px){
                max-width: 50%;
            }
        }
    }

    &--image-right{
        .wp-block-getwid-image-box__image-container{
            order: 1;
            margin: 0 0 0 20px;
            @media screen and(min-width: 768px){
                max-width: 50%;
            }
        }
    }

    &--mobile-layout-column{
        @media screen and(max-width: 767px){
            flex-direction: column;
        }
        .wp-block-getwid-image-box__image-container{
            @media screen and (max-width: 767px){
                order: 0;
                margin: 0 0 20px 0;
            }
        }
    }

    &--mobile-layout-column-reverse{
        @media screen and(max-width: 767px){
            flex-direction: column;
        }
        .wp-block-getwid-image-box__image-container{
            @media screen and(max-width: 767px){
                order: 1;
                margin: 20px 0 0 0;
            }
        }
    }

    &--mobile-alignment-center{
        @media screen and(max-width: 767px){
            text-align: center;
            .wp-block-getwid-image-box__image-container{
                align-self: center;
            }
        }
    }
    &--mobile-alignment-left{
        @media screen and(max-width: 767px){
            text-align: left;
            .wp-block-getwid-image-box__image-container{
                align-self: flex-start;
            }
        }
    }
    &--mobile-alignment-right{
        @media screen and(max-width: 767px){
            text-align: right;
            .wp-block-getwid-image-box__image-container{
                align-self: flex-end;
            }
        }
    }


    &[data-animation="slideTop"]{
        .wp-block-getwid-image-box__image-wrapper{
            transition: .3s ease;
            transform: none;
        }
        &:hover{
            .wp-block-getwid-image-box__image-wrapper {
                transform: translateY(-10%);
            }
        }
    }
    &[data-animation="slideBottom"]{
        .wp-block-getwid-image-box__image-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            .wp-block-getwid-image-box__image-wrapper {
                transform: translateY(10%);
            }
        }
    }
    &[data-animation="slideLeft"]{
        .wp-block-getwid-image-box__image-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            .wp-block-getwid-image-box__image-wrapper {
                transform: translateX(-10%);
            }
        }
    }
    &[data-animation="slideRight"]{
        .wp-block-getwid-image-box__image-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            .wp-block-getwid-image-box__image-wrapper {
                transform: translateX(10%);
            }
        }
    }
    &[data-animation="zoomSmall"]{
        .wp-block-getwid-image-box__image-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            .wp-block-getwid-image-box__image-wrapper {
                transform: scale(1.1);
            }
        }
    }
    &[data-animation="zoomBig"]{
        .wp-block-getwid-image-box__image-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            .wp-block-getwid-image-box__image-wrapper {
                transform: scale(1.3);
            }
        }
    }
}