/*!
 * getwid-image-box
 */

.wp-block-getwid-image-box {

	&__image-container {
		margin: 0 0 20px 0;
		line-height: 0;
		flex: 1 0 auto;

		&.is-position-top {
			align-self: flex-start;
		}

		&.is-position-middle {
			align-self: center;
		}

		&.is-position-bottom {
			align-self: flex-end;
		}

		.wp-block-getwid-image-box__image-wrapper {
			display: inline-block;
			line-height: 1;

			img {
				display: block;
			}
		}

		a.wp-block-getwid-image-box__image-wrapper {
			text-decoration: none;
			transition: all .3s ease;

			&:hover {
				cursor: pointer;
			}
		}
	}

	&__content {
		order: 0;
		flex: 0 1 100%;
		align-self: center;
	}

	&.has-text-left {
		text-align: left;
	}

	&.has-text-center {
		text-align: center;
	}

	&.has-text-right {
		text-align: right;
	}

	&.has-image-left,
	&.has-image-right {
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	&.has-mobile-layout-column {
		@media screen and(max-width: 767px) {
			flex-direction: column;
		}
	}

	&.has-mobile-layout-column-reverse {
		@media screen and(max-width: 767px) {
			flex-direction: column;
		}
	}

	&.has-mobile-alignment-center {
		@media screen and(max-width: 767px) {
			text-align: center;
		}
	}

	&.has-mobile-alignment-left {
		@media screen and(max-width: 767px) {
			text-align: left;
		}
	}

	&.has-mobile-alignment-right {
		@media screen and(max-width: 767px) {
			text-align: right;
		}
	}
}

.has-image-left {
	.wp-block-getwid-image-box__image-container {
		margin: 0 20px 0 0;
		max-width: 50%;
	}
}

.has-image-right {
	.wp-block-getwid-image-box__image-container {
		order: 1;
		margin: 0 0 0 20px;
		max-width: 50%;
	}
}

.has-mobile-layout-column {
	.wp-block-getwid-image-box__image-container {
		@media screen and (max-width: 767px) {
			max-width: 100%;
			order: 0;
			margin-bottom: 20px;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}
}

.has-mobile-layout-column-reverse {
	.wp-block-getwid-image-box__image-container {
		@media screen and(max-width: 767px) {
			max-width: 100%;
			order: 1;
			margin-top: 20px;
			margin-right: 0 !important;
			margin-left: 0 !important;
		}
	}
}

.has-mobile-alignment-center {
	.wp-block-getwid-image-box__image-container {
		align-self: center;
	}
}

.has-mobile-alignment-left {
	.wp-block-getwid-image-box__image-container {
		align-self: flex-start;
	}
}

.has-mobile-alignment-right {
	.wp-block-getwid-image-box__image-container {
		align-self: flex-end;
	}
}
