.wp-block-getwid-image-box{
    &--image-left,
    &--image-right{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
    }
    &--image-left{
        .wp-block-getwid-image-box__image-container{
            margin: 0 20px 0 0;
            max-width: 50%;
        }
    }
    &--text-left{
        text-align: left;
    }
    &--text-center{
        text-align: center;
    }
    &--text-right{
        text-align: right;
    }
    .wp-block-getwid-image-box__image-container{
        line-height: 0;
        &--position-top{
            order: 0;
            flex: 0 1 auto;
            align-self: flex-start;        
        }  
        &--position-middle{
            order: 0;
            flex: 0 1 auto;
            align-self: center;     
        }          
        &--position-bottom{
            order: 0;
            flex: 0 1 auto;
            align-self: flex-end;  
        }             
        .wp-block-getwid-image-box__image-wrapper{
            display: inline-block;
            line-height: 1;
            img{
                display: block;
            }
        }
        a.wp-block-getwid-image-box__image-wrapper{
            text-decoration: none;
            transition: all .3s ease;
            &:hover{
                cursor: pointer;
            }
        }
    }
    &--image-right{
        .wp-block-getwid-image-box__image-container{
            order: 1;
            margin: 0 0 0 20px;
            max-width: 50%;
        }
    }    
    .wp-block-getwid-image-box__content{
        order: 0;
        flex: 1 1 auto;
        align-self: center;    
    }

    &[data-animation="slideTop"]{
        .wp-block-getwid-image-box__image-wrapper{
            transition: .3s ease;
            transform: none;
        }
        &:hover{
            .wp-block-getwid-image-box__image-wrapper {
                transform: translateY(-10%);
            }
        }
    }
    &[data-animation="slideBottom"]{
        .wp-block-getwid-image-box__image-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            .wp-block-getwid-image-box__image-wrapper {
                transform: translateY(10%);
            }
        }
    }
    &[data-animation="slideLeft"]{
        .wp-block-getwid-image-box__image-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            .wp-block-getwid-image-box__image-wrapper {
                transform: translateX(-10%);
            }
        }
    }
    &[data-animation="slideRight"]{
        .wp-block-getwid-image-box__image-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            .wp-block-getwid-image-box__image-wrapper {
                transform: translateX(10%);
            }
        }
    }
    &[data-animation="zoomSmall"]{
        .wp-block-getwid-image-box__image-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            .wp-block-getwid-image-box__image-wrapper {
                transform: scale(1.1);
            }
        }
    }
    &[data-animation="zoomBig"]{
        .wp-block-getwid-image-box__image-wrapper {
            transition: .3s ease;
            transform: none;
        }
        &:hover {
            .wp-block-getwid-image-box__image-wrapper {
                transform: scale(1.3);
            }
        }
    }
}