.wp-block-getwid-template-post-featured-image {
	margin-bottom: .5em;
	&:last-child{
		margin-bottom: 0;
	}

	&.aligncenter{
		a{
			display: block;
		}
		img{
			margin: 0 auto;
		}
	}

	img {
		display: block;
	}
}

.wp-block-column{
	> .wp-block-getwid-template-post-featured-image {
		&:only-child{
			height: 100%;
			img{
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
}