.wp-block-getwid-recent-posts{
    $base-class: '.wp-block-getwid-recent-posts';
    
    & &--post{
        > #{$base-class}__entry-header,
        > #{$base-class}__post-thumbnail,
        > #{$base-class}__post-content,
        > #{$base-class}__entry-footer{
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;                
        }
    }
    
    & &__post-thumbnail{
        a{
            display: block;
            img{
                display: block;
                width: 100%;
            }
        }
    }
    
    & &__post-content{
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        > *{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

}