.wp-block-getwid-recent-posts {
	$base-class: '.wp-block-getwid-recent-posts';
	overflow: hidden;

	& > &__wrapper {
		margin-bottom: -1.5rem !important;
	}

	&__post {
		margin-bottom: 1.5rem;
	}

	&__post-thumbnail {
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;

		a,
		img {
			display: block;
		}
	}

	&__content-wrapper {
		margin-top: 1em;

		&:first-child {
			margin-top: 0;
		}
	}

	&__entry-header,
	&__post-content,
	&__entry-footer {
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	&__post-content {
		> * {
			max-width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}

	&__post-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	& &__post-title {
		margin: 0;
	}

	&__entry-meta {
		margin-top: .5em;

		&:first-child {
			margin-top: 0;
		}
	}

	&__post-content {
		> * {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__entry-meta,
	&__entry-footer {
		font-size: .875em;
	}

	&__post-content,
	&__entry-footer {
		margin-top: .5em;

		&:first-child {
			margin-top: 0;
		}
	}

	&__entry-footer {
		> p {
			margin: 0;
		}
	}
}

.has-cropped-images {
	.wp-block-getwid-recent-posts__post-thumbnail {
		width: 100%;

		a {
			position: relative;
			padding-top: 100%;
			width: 100%;
		}

		img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}

.has-layout-list {
	.wp-block-getwid-recent-posts__post {
		@media screen and(min-width: 768px) {
			.wp-block-getwid-recent-posts__post-wrapper {
				flex-direction: row;
			}
			.wp-block-getwid-recent-posts__entry-header {
				margin-top: 0;

				.wp-block-getwid-recent-posts__post-title {
					margin-top: 0;
				}
			}

			.wp-block-getwid-recent-posts__post-thumbnail {
				max-width: 40%;
				margin: 0;

				&:only-child {
					width: 100%;
				}

				+ .wp-block-getwid-recent-posts__content-wrapper {
					margin-left: 5%;
					margin-top: 0;
					max-width: 55%;
					width: 100%;
				}
			}
		}
	}
}
