.components-getwid-panel-body {
	.components-getwid-panel-body-row{
		font-size: 10px;
		font-weight: 400;
		margin-right: 15px;

		.components-getwid-panel-body-columns{
			padding-left: 8px;
			width: 50%;
			display: inline-block;
			span{
				margin-right: 5px;
				color: #0073aa;
				font-weight: 600;	
			}
		}
	}

}