/*!
 * getwid-post-custom-post-type
 */

.wp-block-getwid-custom-post-type {
	overflow: hidden;

	.navigation.pagination {
		margin-top: 3.125em;
	}

	&__post {
		margin-top: 22px;

		&:first-child {
			margin-top: 0;
		}

		&-wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
	}

	& &__post-title {
		margin: 0;
	}

	&__post-thumbnail {
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			display: block;

			img {
				display: block;
			}
		}
	}

	&__post-excerpt {
		> * {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__post-excerpt {
		margin-top: .5em;

		&:first-child {
			margin-top: 0;
		}
	}

	&__post {
		> .wp-block-getwid-template-post-featured-image {
			margin-bottom: 1.875em;

			&:last-child {
				margin-bottom: 0;
			}
		}

		> .wp-block-getwid-template-post-title {
			margin-bottom: .5em;

			&:last-child {
				margin-bottom: 0;
			}

			+ .wp-block-getwid-template-post-featured-image {
				margin-top: 1.25em;
			}
		}

		> .wp-block-getwid-template-post-content {
			margin-bottom: .5em;

			&:last-child {
				margin-bottom: 0;
			}
		}

		> .wp-block-getwid-template-post-link {
			margin-top: 1.5em;
			margin-bottom: 1.5em;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		> .wp-block-getwid-template-post-meta {
			margin-bottom: .25em;

			+ .wp-block-getwid-template-post-featured-image {
				margin-top: 1.25em;
			}
		}

		> .wp-block-getwid-section {
			height: 100%;
		}
	}
}

.has-spacing {
	&-none {
		&.has-layout-list {
			.wp-block-getwid-custom-post-type__post {
				+ .wp-block-getwid-custom-post-type__post {
					margin-top: 0;
				}
			}
		}

		> .getwid-columns {
			margin-left: 0;
			margin-right: 0;

			> * {
				padding-left: 0;
				margin-top: 0;
				padding-right: 0;
			}
		}
	}

	&-small {
		&.has-layout-list {
			.wp-block-getwid-custom-post-type__post {
				+ .wp-block-getwid-custom-post-type__post {
					margin-top: 20px;
				}
			}
		}

		> .getwid-columns {
			margin-left: -5px;
			margin-right: -5px;

			> * {
				margin-top: 10px;
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}

	&-medium {
		&.has-layout-list {
			.wp-block-getwid-custom-post-type__post {
				+ .wp-block-getwid-custom-post-type__post {
					margin-top: 30px;
				}
			}
		}

		> .getwid-columns {
			margin-left: -15px;
			margin-right: -15px;

			> * {
				margin-top: 30px;
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

	&-normal {
		&.has-layout-list {
			.wp-block-getwid-custom-post-type__post {
				+ .wp-block-getwid-custom-post-type__post {
					margin-top: 60px;
				}
			}
		}

		> .getwid-columns {
			margin-left: -25px;
			margin-right: -25px;

			> * {
				margin-top: 50px;
				padding-left: 25px;
				padding-right: 25px;
			}
		}
	}

	&-large {
		&.has-layout-list {
			.wp-block-getwid-custom-post-type__post {
				+ .wp-block-getwid-custom-post-type__post {
					margin-top: 80px;
				}
			}
		}

		> .getwid-columns {
			margin-left: -40px;
			margin-right: -40px;

			> * {
				margin-top: 80px;
				padding-left: 40px;
				padding-right: 40px;
			}
		}
	}
}

.has-layout-list {
	.wp-block-getwid-custom-post-type__post {
		+ .wp-block-getwid-custom-post-type__post {
			margin-top: 3.125em;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	@media screen and(min-width: 768px) {
		.wp-block-getwid-custom-post-type__post-wrapper {
			flex-direction: row;
		}
		.wp-block-getwid-custom-post-type__entry-header {
			margin-top: 0;

			.wp-block-getwid-custom-post-type__post-title {
				margin-top: 0;
			}
		}

		.wp-block-getwid-custom-post-type__post-thumbnail {
			max-width: 40%;
			margin: 0;

			&:only-child {
				width: 100%;
			}

			+ .wp-block-getwid-custom-post-type__content-wrapper {
				/*rtl:begin:remove*/
				margin-left: 5%;
				/*rtl:end:remove*/
				/*rtl:raw: margin-right: 5%; */
				margin-top: 0;
				max-width: 55%;
				width: 100%;
			}
		}
	}
}

@media screen and(min-width: 991px) {
	@for $i from 1 through 6 {
		.getwid-columns-#{$i} {
			.wp-block-getwid-custom-post-type__post {
				@for $j from 1 through $i {
					&:nth-child(#{$j}) {
						margin-top: 0;
					}
				}
			}
		}
	}
}
