.wp-block-getwid-template-library{

}
.wp-block-getwid-template-library__modal-templates{
    width: 50%;
	min-height: 90%;
	
	.wp-block-getwid-template-library__modal-toolbar{
		position: absolute;
    top: 10px;
    left: 50%;
    z-index: 10;
	transform: translateX(-50%);
		.template-view-button{
			width: 36px;
			height: 36px;
			padding: 7px;
		}
	}
}
.wp-block-getwid-template-library__wrapper{
	.template-search-field{
		width: 60%;
		display: inline-block;
		padding-right: 20px;
	}
	.template-search-group{
		width: 40%;
	}
	.components-placeholder__fieldset{
		max-width: 100%;
	}
    .components-button{
		height: auto;
		width: 100%;		
		padding: 0px;

		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;	
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;	
		
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		&.template-search-button{
			width: 50%;
			display: inline-block;
			vertical-align: initial;
		}	
    }
	.template-library-list{
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-align-content: flex-start;
		-ms-flex-line-pack: start;
		align-content: flex-start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;

		width: 100%;
		&.loading-items{
			height: auto;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
		}

		&.view-grid{
			.template-library-item{
				width: 33.3%;
				.template-image-wrapper{
					height: 200px;
				}
			}
		}

		&.view-list{
			.template-library-item{
				width: 100%;
				.template-image-wrapper{
					height: 600px;
				}
			}
		}

		.template-library-item{			
			padding: 20px;
			.components-button{
				// min-height: 250px;
			}

			.template-image-wrapper{				
				overflow: hidden;
				border-bottom: 1px solid #ccc;
				&:hover{
					.template-image{
						transform: scale(1.1);
					}
				}
				.template-image{
					transition: all linear 0.25s;			
					background-attachment: scroll;
					background-size: cover;	
					width: 100%;
					height: 100%;								
				}				
			}
			.template-content-wrapper{
				padding: 0px 10px 0px 10px;
				.template-title{
					font-size: 16px;
					font-weight: bold;
					margin-top: 10px;
				}
				.template-categories{
					margin-bottom: 10px;
					color: #0073aa;
				}
				.template-description{
					margin-bottom: 10px;
					white-space: normal;
					line-height: 1.5em;
				}
			}
		}
	}
}
