.wp-block-getwid-template-library {
	.components-placeholder__fieldset {		
		display: contents;

		span {
			margin-top: 30px;
		}

		.no-templates {
			width: 100%;
		}

		.insert-template-button {
			display: block;
			width: 100%;

			margin-top: 30px;
		}
	}
}

.wp-block-getwid-template-library__modal-templates {
	width: 100%;
	min-height: 90%;
	max-width: 1600px;
	overflow: hidden;
	@media screen and (min-width: 600px) {
		width: 80%;
	}
	//temporary
	.components-tab-panel__tabs {
		display: none;
	}

	.getwid-modal-editor-tabs {
		padding: 0;

		.components-tab-panel__tabs {
			padding: 0;
			background-color: #f3f4f5;
			margin: -16px -16px 10px -16px;

			.template-library-item {
				font-size: 16px;
				padding: 10px 10px 15px 10px;
				position: relative;

				&:before {
					content: "";
					position: absolute;
					top: 0;
					bottom: 1px;
					right: 0;
					left: 0;
					border-bottom: 3px solid transparent;
				}

				&.is-active {
					font-weight: 500;

					&:before {
						border-bottom: 3px solid #007cba;
					}
				}
			}
		}
	}
}

.wp-block-getwid-template-library__wrapper {
	.components-placeholder__fieldset {
		max-width: 100%;
	}

	.template-library-list {

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		overflow-y: auto;
		padding: 0px 20px 0px 0px;
		margin: -16px -16px 0px 0px;

		&.loading-items {
			height: auto;
			justify-content: center;
		}

		//@todo: remove styles for .view-grid, .view-list before update

		&.view-grid {
			.template-library-container {
				width: 100%;
				@media screen and(min-width: 992px) {
					width: 50%;
				}
			}
		}

		&.view-list {
			.template-library-container {
				width: 100%;
			}
		}

		&.has-columns-2 {
			.template-library-container {
				@media screen and(min-width: 992px) {
					width: 50%;
				}
			}
		}

		&.has-columns-3 {
			.template-library-container {
				@media screen and(min-width: 992px) {
					width: 50%;
				}
				@media screen and(min-width: 1201px) {
					width: 33.333%;
				}
			}
		}

		&.has-columns-4 {
			.template-library-container {
				@media screen and(min-width: 992px) {
					width: 50%;
				}
				@media screen and(min-width: 1201px) {
					width: 25%;
				}
			}
		}

		&.has-columns-5 {
			.template-library-container {
				@media screen and(min-width: 992px) {
					width: 50%;
				}
				@media screen and(min-width: 1201px) {
					width: 20%;
				}
			}
		}

		.template-library-category-wrapper {
			width: 100%;
			overflow: hidden;

			.template-library-category-title {
			}

			.template-library-category-items {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: flex-start;
				align-content: flex-start;
				align-items: flex-start;
				margin: 0 -20px;

				.template-library-item {
					height: auto;
					width: 100%;
					display: flex;
					flex-direction: column;
					border: 1px solid #ececec;
					background: #fff;

					&:hover {
						border-color: #0085ba;

						.template-insert-button {
							pointer-events: all;
							opacity: 1;
						}
					}
				}
			}
		}

		.template-library-container {
			padding: 0 20px 40px 20px;
			width: 100%;

			.template-image-wrapper {
				border-bottom: 1px solid #ededed;
				position: relative;
				padding-top: 56.25%;
				overflow: hidden;

				.template-image {
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					//wtf
					transform: translateZ(0);
				}
			}

			.template-content-wrapper {
				padding: 10px;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-content: center;
				align-items: center;

				.template-insert-button {
					transition: opacity 0.15s linear;
					pointer-events: none;
					opacity: 0;
				}
			}
		}
	}
}

.edit-post-header-toolbar {
	#getwid-layout-insert-button {
		margin-left: 25px;
	}
}

.wp-block-getwid-template-library__layout-view {
	padding-right: 20px;

	.template-view-button {
		align-items: center;
	}
}

.wp-block-getwid-template-library__modal-toolbar {

	position: relative;
	z-index: 1;
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	margin: -16px -16px 16px -16px;
	padding: 24px 16px 16px;
	background: #f3f4f5;
	border-bottom: 1px solid #e2e4e7;
	@media screen and(min-width: 768px) {
		flex-wrap: nowrap;
	}

	> * {
		margin: 0 !important;
	}

	.template-category-field {
		@media screen and(max-width: 768px) {
			padding-right: 0;
			width: 100%;
		}
		padding-right: 20px;
	}

	.template-search-field {
		@media screen and(max-width: 768px) {
			width: 100%;
			padding-right: 0;
		}
		flex: 1 1 auto;
		padding-right: 20px;

		input {
			line-height: 28px;
			height: 28px;
		}
	}
}
