.wp-block-getwid-template-library{
	.components-placeholder__fieldset{
		.no-templates{
			width: 100%;
		}
	}
}
.wp-block-getwid-template-library__modal-templates{
    width: 50%;
	min-height: 90%;

	.getwid-modal-editor-tabs{
		padding: 0px 0px 0px 0px;
		.components-tab-panel__tabs{
			padding: 0px 0px 0px 0px;
			background-color: #f3f4f5;
			margin: -16px -16px 10px -16px;
			.components-button{
				font-size: 16px;
				padding: 10px 10px 15px 10px;
				position: relative;
				&:before{
					content: "";
					position: absolute;
					top: 0;
					bottom: 1px;
					right: 0;
					left: 0;
					border-bottom: 3px solid transparent;
				}
				&.is-active{
					font-weight: 500;
					&:before{
						border-bottom: 3px solid #007cba;
					}
				}
			}
		}
	}	
}
.wp-block-getwid-template-library__wrapper{
	.template-category-field{
		width: 33.3%;
		display: inline-block;
		padding-right: 20px;
	}
	.template-search-field{
		width: 33.3%;
		display: inline-block;
		padding-right: 20px;
	}

	.components-placeholder__fieldset{
		max-width: 100%;
	}
    .components-button{
		height: auto;
		width: 100%;		
		padding: 0px;

		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;	
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;	
		
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;	
	}
	.template-update-button{
		width: 33.3%;
		display: inline-block;
		&:active:enabled{
			vertical-align: initial;
		}
	}
	.template-library-list{
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-align-content: flex-start;
		-ms-flex-line-pack: start;
		align-content: flex-start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;

		width: 100%;
		&.loading-items{
			height: auto;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
		}

		&.view-grid{
			.template-library-item{
				width: 33.3%;
				.template-image-wrapper{
					height: 200px;
				}
			}
		}

		&.view-list{
			.template-library-item{
				width: 100%;
				.template-image-wrapper{
					height: 600px;
				}
			}
		}

		.template-library-item{			
			padding: 20px;
			.template-image-wrapper{				
				overflow: hidden;
				border-bottom: 1px solid #ccc;
				&:hover{
					.template-image{
						transform: scale(1.1);
					}
				}
				.template-image{
					transition: all linear 0.25s;
					background-position: center;
					background-repeat: no-repeat;			
					background-attachment: scroll;
					background-size: contain;
					width: 100%;
					height: 100%;
				}				
			}
			.template-content-wrapper{
				padding: 0px 10px 0px 10px;
				.template-title{
					font-size: 16px;
					font-weight: bold;
					margin-top: 10px;
				}
				.template-categories{
					margin-bottom: 10px;
					color: #0073aa;
				}
				.template-description{
					margin-bottom: 10px;
					white-space: normal;
					line-height: 1.5em;
				}
			}
		}
	}
}
