.wp-block-getwid-template-library{
	.components-placeholder__fieldset{
		.no-templates{
			width: 100%;
		}

		.insert-template-button{
			display: block;
			width: 100%;
		}
	}
}
.wp-block-getwid-template-library__modal-templates{
    width: 80%;
	min-height: 90%;
	max-width: 1600px;
	
	//temporary
	.components-tab-panel__tabs {
		display: none;
	}

	.getwid-modal-editor-tabs{
		padding: 0px 0px 0px 0px;
		.components-tab-panel__tabs{
			padding: 0px 0px 0px 0px;
			background-color: #f3f4f5;
			margin: -16px -16px 10px -16px;
			.components-button{
				font-size: 16px;
				padding: 10px 10px 15px 10px;
				position: relative;
				&:before{
					content: "";
					position: absolute;
					top: 0;
					bottom: 1px;
					right: 0;
					left: 0;
					border-bottom: 3px solid transparent;
				}
				&.is-active{
					font-weight: 500;
					&:before{
						border-bottom: 3px solid #007cba;
					}
				}
			}
		}
	}	
}
.wp-block-getwid-template-library__wrapper{
	.components-placeholder__fieldset{
		max-width: 100%;
	}
	.template-library-list{
		.template-library-category-wrapper{
			width: 100%;
			.template-library-category-title{
				border-bottom: 1px solid #eee;
			}
			.template-library-category-items{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: flex-start;
				align-content: flex-start;
				align-items: flex-start;
	
				.components-button{
					height: auto;
					width: 100%;		
					padding: 0px;
		
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					flex-direction: column;	
					flex-wrap: wrap;	
					
					justify-content: flex-start;
					align-content: stretch;
					align-items: stretch;	
				}
			}
		}

		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;

		width: 100%;
		&.loading-items{
			height: auto;
			justify-content: center;
		}

		&.view-grid{
			.template-library-item{
				width: 33.3%;
				.template-image-wrapper{
					height: 200px;
				}
			}
		}

		&.view-list{
			.template-library-item{
				width: 100%;
				.template-image-wrapper{
					height: 600px;
				}
			}
		}

		.template-library-item{			
			padding: 10px;

			.template-image-wrapper{				
				overflow: hidden;
				border-bottom: 1px solid #ccc;
				background: #fff;

				.template-image{
					background-position: center;
					background-repeat: no-repeat;			
					background-attachment: scroll;
					background-size: contain;
					width: 100%;
					height: 100%;
				}				
			}
			.template-content-wrapper{
				padding: 0px 10px 0px 10px;
				.template-title{
					margin-top: 10px;
				}
				.template-categories{
					margin-bottom: 10px;
				}
				.template-description{
					margin-bottom: 10px;
				}
			}
		}
	}
}

.edit-post-header-toolbar {
	#getwid-layout-insert-button {
		margin-left: 25px;
	}
}

.wp-block-getwid-template-library__modal-toolbar {

	display: flex;
	align-items: flex-end;
	
	> * {
		flex: 1 0 auto;
		margin: 0 !important;
	}

	.template-category-field{
		padding-right: 20px;
	}
	.template-search-field{
		padding-right: 20px;
	}
	.template-update-button{
	}
}