.editor-block-list__layout .editor-block-list__block[data-align=full] .wp-block-getwid-media-text-slider{

    .wp-block[data-type="getwid/media-text-slider-slide"]{
        .editor-block-list__block-edit::before{
            left: 0;
            right: 0;
            border-left-width: 0;
            border-right-width: 0;
        }
        .editor-block-list__breadcrumb{
            right: 0;
        }
        .editor-block-contextual-toolbar{
            margin-right: 0;
            margin-left: 0;
        }
    }

    .editor-block-list__block-edit{
        margin-right: -14px;
        margin-left: -14px;
        @media screen and(min-width: 600px){
            margin-left: -44px;
            margin-right: -44px;
        }
    }

}

.editor-block-list__block{
    .wp-block-getwid-media-text-slider{
        .wp-block{
            max-width: 100%;
        }

        &__content{
            .editor-inner-blocks{
                .editor-block-list__layout{
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
        .editor-block-list__block-edit{
            position: initial;
        }       
        [data-type="getwid/media-text-slider-slide-content"]{
            position: initial;
        }

        .wp-block-getwid-media-text-slider-slide__content{
            & > .editor-inner-blocks{
                width: 100%;
                height: 100%;                
            }
        }

        $main_class : '.wp-block-getwid-media-text-slider';

        [data-type="getwid/media-text-slider-slide"] {
            display: none;
            .editor-block-list__block-edit{
                &:before{
                    left: 0;
                    right: 0;
                }
            }
        }
        @for $index from 1 through 10
        {
          &--current-slide-#{$index} [data-slide="#{$index}"] {display: block;}
        }

        & #{$main_class}__titles{
            margin:0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            list-style: none;    

        }  
        & #{$main_class}__title-wrapper{

            margin: 0 4px -1px 0;
            cursor: pointer;
            list-style: none;

            &--active {
                z-index: 4;
                .wp-block-getwid-media-text-slider__title{
                    background-color: #fff;
                    border-color: #dee2e6;
                }
            }
        
        }
        & #{$main_class}__title{
            padding: 8px 16px;
            display:flex;
            color: #444;
            align-items: center;
            border-style: solid;
            border-color: transparent;
            border-width: 1px 1px 0 1px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            transition: all .2s ease-in-out;

            .editor-rich-text{
                display: inline-flex;
            }
        }

        & #{$main_class}__slides-wrapper{
            margin: 0 auto;

            #{$main_class}__content{
                border: 1px solid #dee2e6;
                //padding: 20px;
                text-align: left;
                position: relative;

                &:before{

                }
                &:after{
                    content: '';
                    clear: both;
                    display: table;
                }       
            }
        }
    }

}