.wp-block-getwid-media-text-slider {
	& .wp-block-getwid-media-text-slider__titles {
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		list-style: none;
	}

	& .wp-block-getwid-media-text-slider__title-wrapper {
		margin: 0 4px -1px 0;
		cursor: pointer;
		list-style: none;

		&--active {
			z-index: 4;

			.wp-block-getwid-media-text-slider__title {
				background-color: #fff;
				border-color: #dee2e6;
			}
		}
	}

	& .wp-block-getwid-media-text-slider__add-item {
		display: flex;
		align-items: center;
	}

	& .wp-block-getwid-media-text-slider__title {
		color: #444;
		padding: 8px 16px;
		display: block;
		border-style: solid;
		border-color: transparent;
		border-width: 1px 1px 0 1px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		transition: all .2s ease-in-out;
	}

	& .wp-block-getwid-media-text-slider__content {
		border: 1px solid #dee2e6;

		> .editor-inner-blocks,
		> .block-editor-inner-blocks {
			> .editor-block-list__layout,
			> .block-editor-block-list__layout {
				margin-right: 0;
				margin-left: 0;
			}
		}
	}

	[data-type="getwid/media-text-slider-slide"] {
		display: none;

		.block-editor-block-list__layout {
			position: static;
		}
	}

	@for $index from 1 through 12 {
		&--current-slide-#{$index} [data-slide="#{$index}"] {
			display: block;
		}
	}

	[data-type="getwid/media-text-slider-slide-content"] {
		position: static;

		> .editor-block-list__block-edit,
		> .block-editor-block-list__block-edit {
			position: static;

			> .editor-block-contextual-toolbar,
			> .block-editor-block-contextual-toolbar {
				position: absolute;
				left: 0;
				top: 0;
				transform: none;
				margin-top: -15px;
			}
		}
	}

	.wp-block-getwid-media-text-slider-slide-content {
		max-width: 100%;
	}

	.wp-block-getwid-media-text-slider-slide-content {
		.wp-block-getwid-media-text-slider-slide-content__media {
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}

	.wp-block {
		max-width: 100% !important;

		&[data-type="getwid/media-text-slider-slide"] {
			margin-left: 14px;
			margin-right: 14px;
		}
	}

}
