.wp-block-getwid-contact-form {

    $base_class   : '.wp-block-getwid-contact-form';

    $name_class   : '.wp-block-getwid-contact-form-name';
    $email_class  : '.wp-block-getwid-contact-form-email';
    $message_class: '.wp-block-getwid-contact-form-message';

    & #{$name_class}__label-wrapper,
    & #{$email_class}__label-wrapper,
    & #{$message_class}__label-wrapper {

        display: flex;
        justify-content: space-between;

        & #{$name_class}__label,
        & #{$email_class}__label,
        & #{$message_class}__label {

            padding: 0;
            height: 39px;            

            border: none;
            box-shadow: none;
            
            color: inherit;
            font-size: inherit;

            font-family: inherit;
            line-height: inherit;

            resize: none;
        }

        & #{$name_class}__required {
            margin-top: 9px;
        }
    }

    & .components-disabled > #{$base_class}__captcha {
        margin-bottom: 30px;
    }

    & #{$name_class}__input {
        margin-top: -10px;
    }

    & #{$base_class}__captcha, & #{$base_class}__submit {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    input[id='name-input'], input[id='email-input'] {
        width: 100%;
        padding: 6px 8px;
        border-radius: 4px;        
        border: 1px solid #8d96a0;
    }

    textarea[id='message-textarea'] {
        border-radius: 4px;
        border: 1px solid #8d96a0;
    }

    .has-text-message {
        margin-top: 30px;
    }
}