.wp-block-getwid-contact-form {

    $name_class   : '.wp-block-getwid-contact-form-name';
    $email_class  : '.wp-block-getwid-contact-form-email';
    $message_class: '.wp-block-getwid-contact-form-message';

    & #{$name_class}__edit-wrapper,
    & #{$email_class}__edit-wrapper,
    & #{$message_class}__edit-wrapper {

        height: 39px;
        overflow: hidden;

        & #{$name_class}__edit,
        & #{$email_class}__edit,
        & #{$message_class}__edit {

            padding: 0;

            border: none;
            box-shadow: none;
            
            color: inherit;
            font-size: inherit;
                    
            font-family: inherit;
            line-height: inherit;
        }
    }

    & #{$message_class} {
        margin-bottom: 28px;
    }

    input[type='text'], input[type='email'] {
        width: 100%;
        padding: 6px 8px;
        border-radius: 4px;        
        border: 1px solid #8d96a0;
    }

    textarea[rows='4'] {
        border-radius: 4px;
        border: 1px solid #8d96a0;
    }
}