.components-getwid-color-palette-control {
	margin-bottom: 24px !important;

	.components-base-control__label {
		margin-top: 8px;
	}

	.component-color-indicator {
		vertical-align: text-bottom;
	}

	.components-color-palette {
		margin-top: 12px;
	}
}

.components-popover__content > 
	div:nth-child(2) {
		margin-top: 16px;
	}
