.components-getwid-color-palette-control {

	.components-base-control__label {
		margin-top: 8px;
	}

	.component-color-indicator {
		vertical-align: text-bottom;
	}

	.components-color-palette {
		margin-top: 12px;
	}
}