.components-getwid-fonts-popover {
	&:not(.is-mobile) {
		&.is-bottom {
			z-index: 9999999;
		}
	}

	.components-popover__content {
		overflow-y: hidden;
		padding: 10px;

		.components-popover__items {
			max-height: 300px;
			overflow-y: auto;

			button {
				&.is-selected {
				    background: #0085ba;
				    color: #fff;
				}

				i {
					margin-right: 5px;
				}
			}
		}
	}
}

.components-getwid-fonts-dropdown {
	width: 100%;
}

.components-getwid-fonts-button {
	background: transparent;
	position: relative;
	width: 100%;
	height: 31px;
	box-shadow: 0 0 0 transparent;
	transition: box-shadow .1s linear;
	border-radius: 4px;
	border: 1px solid #8d96a0;
	line-height: 31px;

	&.is-button {
		background: transparent;
	}

	&:hover {
		background: #fafafa;
		border-color: #999;
		box-shadow: inset 0 -1px 0 #999;
		color: #23282d;
		text-decoration: none;
	}

	&:focus {
		border: 1px solid black;
	}

	&:after {
		content: "";
		pointer-events: none;
		display: block;
		width: 0;
		height: 0;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
		border-top: 5px solid currentColor;
		margin-left: 4px;
		margin-right: 2px;
		right: 8px;
		top: 12px;
		position: absolute;
	}
}
