.wp-block-getwid-map {
	&--dropMarker {
		.wp-block-getwid-map__container .gm-style > div {
			cursor: crosshair !important;
		}
	}

	&__container {
		height: 600px;
	}

	&__modal {
		.components-base-control {
			margin-bottom: 16px;
		}
	}
}
