.wp-block-getwid-content-slider{
    .slick-track{
        display: flex;
    }
    &__item{
        height: auto;
        justify-content: center;
        align-items: center;
        position: relative;
        &-background{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            &-image{
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        &-foreground{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #000;       // foreground color & opacity
            opacity: .5;
        }
        &.slick-active{
            *[data-animation]{
                opacity: 1;
            }
        }
    }       
    &__content-wrapper{
        position: relative;  
        height: 100%;
        color: #fff;                 
        display: flex;              // for alignment settings
        justify-content: center;    // horizontal alignment settings
        align-items: center;        // vertical alignment settings
        &-inner{
            box-sizing: border-box;
            max-width: 80%;         // content max-width setting
            padding-top: 150px;     // padding settings
            padding-bottom: 150px;  // padding settings
            padding-left: 20px;    
            padding-right: 20px; 
            &[data-animation]{
                opacity: 0;
                transition: opacity .3s ease;
            }
            > *{
                &:first-child{
                    margin-top: 0;                    
                }
                &:last-child{
                    margin-bottom: 0;                    
                }
            }
        }
    }
 
    &__nav-slider{
        margin-top: 20px;
        &-item{
            margin: 0 10px;
            img{
                display: block;
                width: 100%;
                object-fit: cover;
            }
        }        
    }
    
    .slick-prev,
    .slick-next{
        z-index: 1;
        &:before{
            color: #000;
        }
    }
    
    &-arrows-inside{
        .slick-prev,
        .slick-next{
            &:before{
                color: #fff;
            }
        }
        .slick-prev{
            left: 25px;
        }     
        .slick-next{
            right: 25px;
        }        
    }
    
    &-dots-inside{
        .wp-block-getwid-content-slider__wrapper{
            margin-bottom: 0;            
        }
        .slick-dots{
            bottom: 20px;
            li{
                .slick-active{
                    color: #fff;
                }
                button:before{
                    color: #fff;
                }
            } 
        }
    }
}