.wp-block-getwid-video{
    &.components-placeholder{
        color: #000000;
    }

    & &__title{
        font-size: 2em;
        line-height: 1.4;
    }

    & + &__url-field{
        display: flex;
        align-items: center;
        margin-top: 1em;

        .dashicon{
            color: #8f98a1;
            width: 36px;
        }

        .components-base-control__field{
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: flex-end;
        }
    }

    & &__caption-wrapper{            
        z-index: 1;
    }    
}