.components-getwid-panel-body {
	.components-getwid-panel-body-row{
		margin-right: 15px;
		width: 100%;

		.components-getwid-panel-body-columns{
			width: 50%;
			display: inline-block;
			padding-left: 8px;
			margin-bottom: 4px;
			font-size: 12px;
			line-height: 1;
			
			span{
				margin-right: 5px;
				vertical-align: middle;
				display: inline-block;
				svg {
					fill: #0085ba;
				}
			}
		}
	}

}