.wp-block-getwid-person{
	.wp-block-getwid-person__content-wrapper{
		text-align: center;
		.wp-block-getwid-person__title{
			margin-top: 20px;
			margin-bottom: 5px;
		}
		.wp-block-getwid-person__subtitle{
			margin-bottom: 25px;
			display: block;
		}
	}
	.wp-block-getwid-person__image{
		img{
			display: block;
			margin: 0 auto;
		}
	}
	.wp-block-getwid-person__social-links{
		margin: 25px 0 0 0;
		display: flex;
		list-style: none;
		justify-content: center;
		align-items: center;
		.wp-block-getwid-person__social-item{
			padding: 0;
			margin: 0 10px;

		}
		.wp-block-getwid-person__social-label{
			@media screen and(min-width: 768px){
				display: none;
				margin-left: .5em;
			}
		}
	}
}