.wp-block-getwid-person{
	.wp-block-getwid-person__image{
		img{
			display: block;
			margin: 0 auto;
		}
		+ .wp-block-getwid-person__content-wrapper{
			margin-top: 1.5em;
		}
	}
	.wp-block-getwid-person__subtitle,
	.wp-block-getwid-person__title,
	.wp-block-getwid-person__content{
		text-align: center;
		margin: 0;
		padding: 0;
	}
	.wp-block-getwid-person__title{
		display: block;
	}
	.wp-block-getwid-person__subtitle{
		display: block;
		font-size: .75em;
	}
	.wp-block-getwid-person__content{
		margin-top: 1em;
		&:first-child{
			margin-top: 0;
		}
	}
	.wp-block-getwid-social-links{
		margin: 1em 0 0;
		padding: 0;
	}
	&.is-image-cropped{
		.wp-block-getwid-person__image{
			position: relative;
			padding-top: 100%;
			img{
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}