.wp-block-getwid-mailchimp {

    .getwid-field-label {
        display: flex;
        flex-direction: row;
    
        .components-base-control {
            margin-top: -1px;
            margin-bottom: -3px;
    
            &.getwid-field-label__required {
                .components-form-toggle {
                    margin: 2px 8px 0 0;
                }
            }
        }
    
        .required {
            color: #111;
            word-break: normal;
        }
    }

    .getwid-field-label__input {
        flex-grow: 1;
        min-height: unset;
        padding: 0;
    }

    .getwid-field-label__input.getwid-field-label__input.getwid-field-label__input {
        margin: 0;
        margin-bottom: 2px;
        padding: 0;
    
        &:focus {
            border-color: #fff;
            box-shadow: none;
        }
    }    
}