.wp-block-getwid-toggle {

    .wp-block-getwid-toggle__row {

        &.getwid-active {
            outline: 2px solid #0085ba;
        }

        &.is-active {
            .wp-block-getwid-toggle__content {
                display: block;
            }
        }

        .wp-block-getwid-toggle__row {
            .wp-block-getwid-toggle__content {
                display: block;
            }
        }


    }

    &.is-selected {
        .wp-block-getwid-toggle__row {
            .wp-block-getwid-toggle__content {
                display: block;
            }
        }
    }

    &__add-toggle {
        text-align: center;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .wp-block-getwid-toggle__header {
	    margin: 0;
        .wp-block-getwid-toggle__icon {
            i {
                font-style: normal;
            }
        }
	    .wp-block-getwid-toggle__edit-area {
		    width: 100%;

		    > * {
			    margin: 0;
			    padding: 0;
		    }
	    }
    }
}
