.wp-block-getwid-toggle{

    &__add-toggle{
        text-align: center;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 
}