.wp-block-getwid-toggle{
    width: 100%;  
    .wp-block-getwid-toggle__row{
        margin: 0;
        &:first-child{
            .wp-block-getwid-toggle__header{
                border-top: 1px solid silver;
            }
        }
        .wp-block-getwid-toggle__header{            
            padding: 10px 20px;
            display: flex;
            align-items: center;        
            justify-content: space-between;
            border: 1px solid silver;
            border-top: 0;
            & > h2,
            & > h3,
            & > h4,
            & > h5,
            & > h6{
                    margin: 0;
                    padding: 0;
                    &:before,
                    &:after{
                     display: none;
                    }
                }
            &:focus{
                outline: none;
            }
            &:hover{
                cursor: pointer;
            }
            .wp-block-getwid-toggle__edit-area{
                width: 100%;
                > *{
                    margin: 0;
                    padding: 0;
                }
            }        
        }        
        .wp-block-getwid-toggle__icon{
            font-size: 16px;
            margin-left: 1em;
            &--passive{
                display: none;
            }
        }
        .wp-block-getwid-toggle__content{
            padding: 20px;
            display: none;
            border: 1px solid silver;
            border-top: 0;
        }

        &--active{
            .wp-block-getwid-toggle__content{
                display: block;
            }
            .wp-block-getwid-toggle__icon{
                &--active{
                    display: none;                    
                }
                &--passive{
                    display: initial;
                }
            }
        }        
        .wp-block-getwid-toggle__title{
            margin: 0;
        }
        &.getwid-active{
            box-shadow: 0 0 0 1px #00a0d2;
        }
    }   
    .wp-block-getwid-toggle__add-toggle{
        text-align: center;
        padding-top: 20px;
        svg {
            cursor: pointer;
        }
    } 
    &--icon-left{
        .wp-block-getwid-toggle__row{
            .wp-block-getwid-toggle__header{
                flex-direction: row-reverse;
                justify-content: flex-end;
            }        
            .wp-block-getwid-toggle__icon{
                margin-left: 0;
                margin-right: 1em;
            }
        }
    }        
}
