.wp-block-getwid-template-post-featured-background-image__content_container{
    padding: 50px 50px 50px 50px;
}

.wp-block-getwid-template-post-featured-background-image{
    $base-class: '.wp-block-getwid-template-post-featured-background-image';

    width: 100%;
    min-height: 400px;
    position: relative;

    .background_image_wrapper{
        position: absolute;
        background-position: center center;
        background-attachment: scroll;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
}