.wp-block-getwid-testimonial {
	&__wrapper {
		display: flex;
		flex-direction: column;
	}

	&__subtitle {
		margin: 0;
		padding: 0;
		display: block;
		font-size: .75em;
	}

	&__header {
		display: flex;
		align-items: center;
	}

	&__header,
	&__content-wrapper {
		width: 100%;
	}

	&__content-wrapper {
		+ .wp-block-getwid-testimonial__header {
			margin-top: 1.5em;
		}
	}

	&__image {
		position: relative;
		width: 100%;
		padding-top: 100%;

		&-wrapper {
			max-width: 75px;
			width: 100%;

			+ .wp-block-getwid-testimonial__heading {
				margin-left: 1.5em;
			}
		}

		img {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			display: block;
			border-radius: 50%;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__content {
		margin: 0;
		padding: 0;
	}
}
