@import 'GetwidUtils/animations.scss';

.wp-block-getwid-vertical-timeline {

    $item_class: '.wp-block-getwid-vertical-timeline-item';

    position: relative;

    .editor-inner-blocks {
        .editor-block-list__layout {            
            .editor-block-list__block {

                &:nth-of-type(odd) {
                    @media (min-width: 1024px) {
                        #{$item_class}__card {
                            &.bounce-in {
                                animation: timelineCardBounceLeft 0.8s;
                            }
                            #{$item_class}__card-arrow {
                                margin-left : calc( -13px / 2 );
                                margin-right: calc( -13px / 2 );
                                
                                transform: translateY(-50%) rotate(45deg);
                                right: 0;
                            } 
                        }
                        #{$item_class}__meta {
                            &.bounce-in {
                                animation: timelineCardBounceRight 1.2s;
                            }
                        }
                    }
                    
                    @media (max-width: 1024px) {
                        #{$item_class}__wrapper {
                            flex-direction: row-reverse;
                        }                    
                    }
                }

                &:nth-of-type(even) {
                    #{$item_class}__wrapper {
                        flex-direction: row-reverse;
    
                        @media (min-width: 1024px) {
                            #{$item_class}__card {
                                &.bounce-in {
                                    animation: timelineCardBounceRight 0.8s;
                                }
                                #{$item_class}__card-arrow {
                                    margin-left: calc( -13px / 2 );
                                    transform: translateY(-50%) rotate(45deg);
                                    left: 0;
                                }
                            }
                            #{$item_class}__meta {
                                &.bounce-in {
                                    animation: timelineCardBounceLeft 1.2s;
                                }
                                .block-editor-rich-text {
                                    position: absolute;
                                    word-break: break-all;
                                    transform: translateY(-50%);
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
    
            .wp-block-getwid-vertical-timeline-item {
    
                width: 100%;
                position: relative;                

                div[data-type='core/heading'] {
                    div[class$=__block-edit] {
                        margin-top: 0 !important;
                        margin-bottom: 0 !important;
                    }
                }

                .components-autocomplete {
                    word-break: break-all;
                }
            }
        }
    }
}
