$main_class: '.wp-block-getwid-vertical-timeline-item';

.wp-block-getwid-vertical-timeline {
    & &__central-line {
        border-right-style: dashed;

        height: 100%;
        position: absolute;
        left: 50%;
        top: 0;        
        width: 0;
        box-sizing: border-box;
        border-right: 2px dashed #dee3e6;
        transform: translateX(-50%);
    }    
}

.editor-inner-blocks {
    .editor-block-list__layout {
        .editor-block-list__block {            

            &:nth-of-type(odd) {
                #{$main_class}__card-arrow {
                    margin-left : calc( -13px / 2 );
                    margin-right: calc( -13px / 2 );
                    @media (min-width: 1024px) {
                        right: 0;
                    } 
                }
                #{$main_class}__item-date {
                    text-align: left;
                }
            }
            
            &:nth-of-type(even) {
                #{$main_class}__wrapper {
                    #{$main_class}__card-arrow {
                        margin-left: calc( -13px / 2 );
                    }
                    @media (min-width: 1024px) {
                        flex-direction: row-reverse;
                        #{$main_class}__item-date {
                            text-align: right;
                        }
                    }
                }
            }
        
            &:nth-of-type(odd) {
                #{$main_class}__card, #{$main_class}__item-date {
                    @media (min-width: 1024px) {
                        &.bounce-in {
                            animation: bounce-left-in 0.8s;
                        }
                    }
                }
            }
        
            &:nth-of-type(even) {
                #{$main_class}__card, #{$main_class}__item-date {
                    @media (min-width: 1024px) {
                        &.bounce-in {
                            animation: bounce-right-in 0.8s;
                        }
                    }                    
                }
            }
        }        
    }
}

.wp-block-getwid-vertical-timeline-item {

    #{$main_class}__card {
        display: flex;
        flex-direction: column;

        flex-basis: 50%;
        position: relative;
        
        #{$main_class}__card-arrow {
            width: 13px;
            height: 13px;

            z-index: 1;

            top: 50%;
            transform: translateY(-50%) rotate(45deg);

            position: absolute;
            background-color: #fff;
        }        
    }

    position: relative;

    width: 100%;
    padding: 20px 0 20px 0;

    #{$main_class}__wrapper {
        display: flex;
        align-items: center;

        #{$main_class}__card {
            text-align: right;

            @media (min-width: 1024px) {
                &.is-hidden {
                    visibility: hidden;
                }
            }

            /* #region Animations */
            @keyframes bounce-node {
                0% {
                    opacity: 0;
                    transform: scale(0.5);
                }
                60% {
                    opacity: 1;
                    transform: scale(1.2);
                }
                100% {
                    transform: scale(1);    
                }
                }

            @keyframes bounce-left-in {
                0% {
                    opacity: 0;
                    transform: translateX(-150px);
                }
                
                60% {
                    opacity: 1;
                    transform: translateX(10px);
                }
                
                100% {
                    transform: translateX(0);
                }
            }

            @keyframes bounce-right-in {
                0% {
                    opacity: 0;
                    transform: translateX(150px);
                }
                
                60% {
                    opacity: 1;
                    transform: translateX(-10px);
                }
                
                100% {
                    transform: translateX(0);
                }
            }
            /* #endregion */                  

            #{$main_class}__card-inner {
                background-color: #fff;
                border-radius: 7px;

                box-shadow: 3px 3px 31px 0px rgba(19, 19, 33, 0.32);

                #{$main_class}__image-wrapper {
                    display: inline-block;   //???????????????????????
                    z-index: 2;
                    position: relative;
                    border-radius: 7px 7px 0px 0px;
                    margin-bottom: -15px;
                    line-height: 0;
                    overflow: hidden;
                }

                #{$main_class}__content-wrapper {
                    padding-left: 15px;
                    padding-right: 15px;
                    padding: 40px;

                    h5 {
                        text-transform: none;
                        font-family: "Muli", Sans-serif;
                        font-size: 28px;
                        font-weight: bold;
                        margin: 0px 0px 15px 0px;
                        color: #42527b;
                    }

                    #{$main_class}__card-desc {
                        font-family: "Open Sans", Sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        text-transform: none;
                        font-style: normal;
                        line-height: 1.6em;
                    }
                }
            }
        }

        #{$main_class}__node {
            width: 22px;
            height: 22px;

            margin-left: 20px;
            margin-right: 20px;

            #{$main_class}__node-inner {
                width: inherit;
                height: inherit;
                position: relative;
                box-sizing: border-box;
                background-color: #fff;
                border: 2px solid #dee3e6;
                border-radius: 50%;

                &.bounce-in {
                    @media (min-width: 1024px) {
                        animation: bounce-node 0.8s;
                    }
                }
            }
        }

        #{$main_class}__item-date {
            flex-basis: 50%;

            @media (min-width: 1024px) {
                //padding-left: 21px;
            }
            
            #{$main_class}__date-label {

                width: max-content !important;

                display: inline-block;
                width: auto;
                background: #6772e5;
                border: 1px solid #6772e5;
                padding: 1em 1.5em;
                color: #fff;
                font-weight: 400;
                border-radius: 5px;
                line-height: 13px;
                font-size: 13px;
            }
        }
    } 
}