$main_class: '.wp-block-getwid-vertical-timeline-item';

.wp-block-getwid-vertical-timeline {
    & &__central-line {
        border-right-style: dashed;

        height: 100%;
        position: absolute;
        left: 50%;
        top: 0;        
        width: 0;
        box-sizing: border-box;
        border-right: 2px dashed #dee3e6;
        transform: translateX(-50%);
    }    
}

.editor-inner-blocks {
    .editor-block-list__layout {
        .editor-block-list__block {

            &:nth-of-type(odd) {
                #{$main_class}__wrapper {
                    @media (max-width: 1024px) {
                        flex-direction: column;
                    }        
                }
            }
            
            &:nth-of-type(even) {
                #{$main_class}__wrapper {
                    @media (max-width: 1024px) {
                        flex-direction: column-reverse;
                    }
                }
            }
            
            /* #region Set items padding */
            &:nth-of-type(even) {
                #{$main_class}__wrapper {
                    @media (min-width: 1024px) {
                        flex-direction: row-reverse;
                        #{$main_class}__item-date {
                            padding-right: 21px;
                        }
                        #{$main_class}__card {
                            padding-left: 30px;
                        }
                    }                
                }
            }
        
            &:nth-of-type(odd) {
                #{$main_class}__wrapper {
                    @media (min-width: 1024px) {
                        #{$main_class}__item-date {
                            padding-left: 21px;
                        }
                        #{$main_class}__card {
                            padding-right: 30px;
                        }
                    }
                }
            }
            /* #endregion */
        
            /* #region Set items triangle */
            &:nth-of-type(odd) {
                #{$main_class}__wrapper #{$main_class}__content-wrapper::before {
                    @media (min-width: 1024px) {
                        left: 100%;
                        border-left: 10px solid #f6f6f6;
                    }                
                }
            }
        
            &:nth-of-type(even) {
                #{$main_class}__wrapper #{$main_class}__content-wrapper::before {
                    @media (min-width: 1024px) {
                        right: 100%;
                        border-right: 10px solid #f6f6f6;
                    }
                }
            }
            /* #endregion */
        
            /* #region Set items animation */
            &:nth-of-type(odd) {
                @media (min-width: 1024px) {
                    #{$main_class}__card, #{$main_class}__item-date {
                        &.bounce-in {
                            animation: bounce-left-in 0.6s;
                        }
                    }
                }
            }
        
            &:nth-of-type(even) {
                @media (min-width: 1024px) {
                    #{$main_class}__card, #{$main_class}__item-date {
                        &.bounce-in {
                            animation: bounce-right-in 0.6s;
                        }
                    }
                }
            }

            &:nth-of-type(even) {
                @media (min-width: 1024px) {
                    #{$main_class}__date-label {
                        right: 50%;
                    }
                }
            }
            /* #endregion */
        }        
    }
}

.wp-block-getwid-vertical-timeline-item {
    
    //OVERRIDDEN
    & #{$main_class}__content-wrapper {
        &::before {
            border: 10px solid transparent;
        }
    }
    //OVERRIDDEN

    position: relative;    

    @media (max-width: 1024px) {
        #{$main_class}__item-date {
            text-align: center;
        }
    }

    width: 100%;
    padding: 20px 0 20px 0;

    #{$main_class}__inner {
        position: relative;

        #{$main_class}__node {
            position: absolute;
            left: 50%;
            width: 20px;
            height: 20px;
            
            transform: translateX(-50%) translateY(-50%);

            #{$main_class}__node-inner {
                width: inherit;
                height: inherit;
                position: relative;
                box-sizing: border-box;
                background-color: #fff;
                border: 2px solid #dee3e6;
                border-radius: 50%;

                &.bounce-in {
                    @media (min-width: 1024px) {
                        animation: bounce-node 0.6s;
                    }
                }
            }
        }

        #{$main_class}__wrapper {
            display: flex;

            #{$main_class}__card {
                text-align: right;
                
                display: block;
                box-sizing: border-box;

                @media (min-width: 1024px) {
                    width: 50%;
                    &.is-hidden {
                        visibility: hidden;
                    }
                }

                /* #region Animations */
                @keyframes bounce-node {
                    0% {
                      opacity: 0;
                      transform: scale(0.5);
                    }
                    60% {
                      opacity: 1;
                      transform: scale(1.2);
                    }
                    100% {
                      transform: scale(1);    
                    }
                  }

                @keyframes bounce-left-in {
                    0% {
                        opacity: 0;
                        transform: translateX(-100px);
                    }
                    
                    60% {
                        opacity: 1;
                        transform: translateX(10px);
                    }
                    
                    100% {
                        transform: translateX(0);
                    }
                }

                @keyframes bounce-right-in {
                    0% {
                        opacity: 0;
                        transform: translateX(100px);
                    }
                    
                    60% {
                        opacity: 1;
                        transform: translateX(-10px);
                    }
                    
                    100% {
                        transform: translateX(0);
                    }
                }
                /* #endregion */                  

                #{$main_class}__card-inner {
                    position: relative;
                    background-color: #f6f6f6;
                    border-radius: 5px;
                    padding-bottom: 20px;

                    box-shadow: 3px 3px 31px 0px rgba(19, 19, 33, 0.32);

                    #{$main_class}__image-wrapper {
                        display: inline-block;   //???????????????????????
                        border-radius: 6px 6px 0px 0px;
                        margin-bottom: -8px;
                        line-height: 0;
                        overflow: hidden;
                    }

                    #{$main_class}__content-wrapper {
                        padding-left: 15px;
                        padding-right: 15px;

                        &::before {
                            content: " ";
                            position: absolute;
                        }

                        h5 {
                            font-family: Poppins;
                            text-transform: none;
                            line-height: 25px;
                            font-weight: 700;
                            font-style: normal;
                            color: #3c3950;
                            font-size: 20px;
                            margin-bottom: 0;
                        }
                        
                        p {
                            margin-top: 0;
                            margin-bottom: 0;

                            padding: 0;
                            border: 0;
                            outline: 0;
                            font-size: 100%;
                            font: inherit;
                            vertical-align: baseline;
                            // font-family: inherit;
                            // font-style: inherit;
                            // font-weight: inherit;
                        }
                    }
                }
            }

            #{$main_class}__item-date {

                position: relative;

                @media (min-width: 1024px) {
                    padding-left: 21px;
                }
                
                #{$main_class}__date-label {

                    position: absolute;
                    width: max-content !important;

                    display: inline-block;
                    width: auto;
                    background: #6772e5;
                    border: 1px solid #6772e5;
                    padding: 1em 1.5em;
                    color: #fff;
                    font-weight: 400;
                    transform: translateY(-50%);
                    border-radius: 5px;
                    line-height: 13px;
                    font-size: 13px;
                }
            }
        }
    }  
}