@import 'GetwidUtils/animations.scss';

.wp-block-getwid-vertical-timeline {

    $item_class: '.wp-block-getwid-vertical-timeline-item';

    & &__line { 
        width: 2px;
        position: absolute;
        margin: 0 auto;
        background: whitesmoke;

        @media (max-width: 1024px) {
            margin-left: 20px;
        }
        
        @media (min-width: 1024px) {
            left: 50%;
            transform: translateX(-50%);
        }        
    }

    & &__bar {
        position: absolute;
        margin: 0 auto;
        width: 2px;
        background: #11a7e7;
    }

    & &__wrapper {

        & > .wp-block-getwid-vertical-timeline-item {
            width: 100%;
            position: relative;

            @mixin card-arrow-left-pos {
                @media (min-width: 1024px) {
                    #{$item_class}__card {
                        &.fadeInShort {
                            animation: fadeInLeftShort 0.8s;
                        }
                        #{$item_class}__card-arrow {
                            margin-left : calc( -13px / 2 );
                            margin-right: calc( -13px / 2 );
                            
                            transform: translateY(-50%) rotate(45deg);
                            right: 0;
                        }
                    }
                    #{$item_class}__meta {
                        &.fadeInShort {
                            animation: fadeInRightShort 1.2s;
                        }
                    }
                }
            }

            @mixin card-arrow-right-pos {
                flex-direction: row-reverse;
    
                @media (min-width: 1024px) {
                    #{$item_class}__card {
                        &.fadeInShort {
                            animation: fadeInRightShort 0.8s;
                        }
                        #{$item_class}__card-arrow {
                            margin-left: calc( -13px / 2 );
                            transform: translateY(-50%) rotate(45deg);
                        }
                    }
                    #{$item_class}__meta {
                        &.fadeInShort {
                            animation: fadeInLeftShort 1.2s;
                        }
                        #{$item_class}__meta-content {
                            position: absolute;
                            right: 0;
                            transform: translateY(-50%);
                        }
                    }
                }
            }

            @mixin item-row-reverse {
                @media (max-width: 1024px) {
                    #{$item_class}__wrapper {
                        flex-direction: row-reverse;
                    }
                }
            }
    
            &:nth-of-type(odd) {
                #{$item_class}__wrapper {
                    &:not(.has-card-right) {
                        @include card-arrow-left-pos;
                    }
                    &.has-card-right {
                        @include  card-arrow-right-pos;
                    }
                }
                @include item-row-reverse;
            }

            &:nth-of-type(even) {
                #{$item_class}__wrapper {
                    &:not(.has-card-left) {
                        @include card-arrow-right-pos;
                    }
                    &.has-card-left {
                        @include card-arrow-left-pos;
                    }
                }
                @include item-row-reverse;
            }
        }        
    }

    .wp-block-getwid-vertical-timeline-item {

        #{$item_class}__wrapper {
            display: flex;
            align-items: center;

            position: relative;

            padding: 20px 0 20px 0;

            @media (max-width: 1024px) {
                justify-content: flex-end;
                margin-left: 20px;

                #{$item_class}__card-arrow {
                    transform: translate(-50%,-50%) rotate(45deg);
                }
                #{$item_class}__meta {
                    display: none;
                }
            }

            #{$item_class}__hide-line {
                position: absolute;
                height: 50%;                        
                width: 10px;
                transform: translateX(-50%);
            }
    
            #{$item_class}__card {
                text-align: right;
                position: relative;
    
                @media (min-width: 1024px) {
                    flex-basis: 50%;
                    &.is-hidden {
                        visibility: hidden;
                    }
                }                    
    
                #{$item_class}__card-inner {
                    border-radius: 7px;
    
                    box-shadow: 3px 3px 31px 0px rgba(19, 19, 33, 0.32);
    
                    #{$item_class}__image-wrapper {
                        z-index: 2;
                        position: relative;
                        border-radius: 7px 7px 0px 0px;
                        margin-bottom: -15px;
                        line-height: 0;
                        overflow: hidden;

                        height: 195px;

                        @media (max-width: 1024px) {
                            width: 100%;
                        }

                        #{$item_class}__image {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
    
                    #{$item_class}__content-wrapper {
                        padding-left: 15px;
                        padding-right: 15px;
                        border-radius: 7px;
                        
                        @media (min-width: 1024px) {
                            padding: 40px;
                        }
    
                        @media (max-width: 1024px) {
                            padding: calc(10% - 10px);
                        }

                        h1, h2, h3, h4, h5, h6 {
                            color: inherit;
                        }

                        p {
                            word-break: inherit;
                        }
    
                        #{$item_class}__card-desc {
                            font-family: "Open Sans", Sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                            text-transform: none;
                            font-style: normal;
                            line-height: 1.6em;
                        }
                    }
                }
    
                #{$item_class}__card-arrow {
                    top: 50%;
                    z-index: 1;
                    width: 13px;
                    height: 13px;
        
                    position: absolute;
                    background-color: #fff;
                }
            }
    
            #{$item_class}__point {
                width: 30px;
                height: 30px;
    
                @media (min-width: 1024px) {
                    margin-left: 20px;
                    margin-right: 20px;
                }
                @media (max-width: 1024px) {
                    margin-right: 5px;
                    transform: translateX(-50%);
                }
    
                #{$item_class}__point-content {
                    width: inherit;
                    height: inherit;
                    position: relative;
                    box-sizing: border-box;
                    background-color: #fff;
                    border: 2px solid #dee3e6;
                    border-radius: 50%;
    
                    &.bounce-in {
                        @media (min-width: 1024px) {
                            animation: timelinePointBounce 0.6s;
                        }
                    }
                }
            }
    
            #{$item_class}__meta {
                flex-basis: 50%;
                position: relative;
                
                #{$item_class}__meta-content {
                    //width: max-content;
    
                    // width: max-content !important;
                    // background: #6772e5;
                    // border: 1px solid #6772e5;
                    // padding: 1em 1.5em;
                    // color: #fff;
                    // border-radius: 5px;
                    // line-height: 13px;
                }
            }
        }
    }
}
