.wp-block-getwid-countdown{
	$base_class: '.wp-block-getwid-countdown';

	font-size: 32px;

	.countdown-section{
		padding: 20px 20px 20px 20px;
	}

	.countdown-row{
		justify-content: center;
	}

	&.has-horizontal-alignment-left{
		.countdown-row{
			justify-content: flex-start;
		}
	}

	&.has-horizontal-alignment-center{
		.countdown-row{
			justify-content: center;
		}
	}

	&.has-horizontal-alignment-right{
		.countdown-row{
			justify-content: flex-end;
		}
	}		

    #{$base_class}__content{
		display: block;
		
		#{$base_class}__wrapper{
			min-height: 100px;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: center;
			&.is-countdown{
				background-color: initial;
				border: 0px solid #fff;

				.countdown-row{
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					align-content: stretch;
					align-items: center;
					.countdown-section{
						font-size: inherit;
						width: auto;
						min-width: 70px;
						box-sizing: content-box;
						.countdown-amount{
							font-size: inherit;
						}
						.countdown-period{
							font-size: 16px;
						}
					}
				}
			}	
		}
	}

	//Inner-paddings
	&.has-small-inner-paddings{
		.countdown-section{
			padding: 10px 10px 10px 10px;
		}
	}
	&.has-medium-inner-paddings{
		.countdown-section{
			padding: 15px 15px 15px 15px;
		}
	}
	&.has-normal-inner-paddings{
		.countdown-section{
			padding: 25px 25px 25px 25px;
		}
	}
	&.has-large-inner-paddings{
		.countdown-section{
			padding: 30px 30px 30px 30px;
		}
	}

	//Inner-Spacing
	&.has-small-inner-spacing{
		.countdown-section + .countdown-section{
			margin-left: 10px;
		}
	}
	&.has-medium-inner-spacing{
		.countdown-section + .countdown-section{
			margin-left: 20px;
		}
	}
	&.has-normal-inner-spacing{
		.countdown-section + .countdown-section{
			margin-left: 30px;
		}
	}
	&.has-large-inner-spacing{
		.countdown-section + .countdown-section{
			margin-left: 40px;
		}
	}	

	
	&.has-custom-font-size{
		.wp-block-getwid-countdown__content{
			font-size: inherit;
		}	
	
		@for $i from 5 through 12{
			
			&.fs-tablet-#{$i * 10}{
				.wp-block-getwid-countdown__content{					
					@media screen and(min-width: 768px) and(max-width: 991px){
						font-size: #{$i * 10%};
					}
				}
			}
			
			&.fs-mobile-#{$i * 10}{
				.wp-block-getwid-countdown__content{					
					@media screen and(max-width: 767px){
						font-size: #{$i * 10%};						
					}
				}
			}
			
		}  
		
	}
}