.wp-block-getwid-countdown {
	$base_class: '.wp-block-getwid-countdown';

	font-size: 32px;

	.countdown-section {
		padding: 20px;
	}

	.countdown-row {
		justify-content: center;
	}

	&.has-horizontal-alignment-left {
		.countdown-row {
			justify-content: flex-start;
		}
	}

	&.has-horizontal-alignment-center {
		.countdown-row {
			justify-content: center;
		}
	}

	&.has-horizontal-alignment-justify {
		.countdown-row {
			.countdown-section {
				flex: 1 0 0;
			}
		}
	}

	&.has-horizontal-alignment-right {
		.countdown-row {
			justify-content: flex-end;
		}
	}

	.wp-block-getwid-countdown__wrapper {
		overflow: hidden;
	}

	.wp-block-getwid-countdown__content {
		&.is-countdown {
			background-color: initial;
			border: 0;

			.countdown-row {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-content: stretch;
				align-items: center;

				.countdown-section {
					font-size: inherit;
					width: auto;

					.countdown-amount {
						font-size: inherit;
					}

					.countdown-period {
						line-height: 1.4;
						font-size: 12px;
						@media screen and(min-width: 768px) {
							font-size: 14px;
						}
						@media screen and(min-width: 992px) {
							font-size: 16px;
						}
					}
				}
			}
		}
	}

	//Inner-paddings
	&.has-inner-paddings-small {
		.countdown-section {
			padding: 10px;
		}
	}

	&.has-inner-paddings-medium {
		.countdown-section {
			padding: 15px;
		}
	}

	&.has-inner-paddings-normal {
		.countdown-section {
			padding: 20px;
		}
	}

	&.has-inner-paddings-large {
		.countdown-section {
			padding: 30px;
		}
	}

	//Inner-Spacing
	&.has-spacing-small {
		.wp-block-getwid-countdown__content {
			margin-left: -5px;
			margin-right: -5px;
		}

		.countdown-section {
			margin: 0 5px 10px;
		}
	}

	&.has-spacing-medium {
		.wp-block-getwid-countdown__content {
			margin-left: -10px;
			margin-right: -10px;
		}

		.countdown-section {
			margin: 0 10px 20px;
		}
	}

	&.has-spacing-normal {
		.wp-block-getwid-countdown__content {
			margin-left: -15px;
			margin-right: -15px;
		}

		.countdown-section {
			margin: 0 15px 30px;
		}
	}

	&.has-spacing-large {
		.wp-block-getwid-countdown__content {
			margin-left: -20px;
			margin-right: -20px;
		}

		.countdown-section {
			margin: 0 20px 40px;
		}
	}


	.wp-block-getwid-countdown__wrapper {
		&.has-custom-font-size {
			@for $i from 5 through 12 {
				&.fs-tablet-#{$i * 10} {
					.wp-block-getwid-countdown__content {
						@media screen and(min-width: 768px) and(max-width: 991px) {
							font-size: #{$i * 10%};
						}
					}
				}

				&.fs-mobile-#{$i * 10} {
					.wp-block-getwid-countdown__content {
						@media screen and(max-width: 767px) {
							font-size: #{$i * 10%};
						}
					}
				}

			}

		}
	}
}
