@import './utils/animations';

body.getwid-fix-scroll-while-animation{
	overflow: hidden;
}

.block-editor__container {
	.getwid-slider-image-wrapper {
		margin-bottom: 0.5em;
		img {
			max-width: 33%;
			object-fit: cover;
			height: 75px;
			border: 1px solid #f7f7f7;
		}
	}

	.getwid-background-image-wrapper {
		margin-bottom: 0.5em;
		img {
			max-height: 150px;
		}
	}
}