@import './utils/animations';

.components-panel__body .editor-url-input input[type=text]{
	width: 100%;
}

body.getwid-fix-scroll-while-animation{
	overflow: hidden;
}

.components-panel__body>.components-panel__body>.components-panel__body-title>.components-panel__body-toggle {
    padding: 10px 10px 10px 40px;
}

.block-editor__container .slider-img img {
    max-width: 25%;
    width: 25%;
    height: 40px;
}

.background-img img, .slider-img img{
   border: 1px solid #f7f7f7; 
}

.components-panel__body .components-button.is-remove{
	background: #ba0000;
	border-color: #950000 #8c0000 #8c0000;
	box-shadow: inset 0 -1px 0 #8c0000;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #820000, 1px 0 1px #820000, 0 1px 1px #820000, -1px 0 1px #820000;
}

.components-panel__body .components-button.is-remove:hover {
    background: #b10000;
    border-color: #5d0000;
    color: #fff;
}