@import './utils/short-animations';
body.getwid-fix-scroll-while-animation{
	overflow: hidden;
}

.components-panel__body>.components-panel__body>.components-panel__body-title>.components-panel__body-toggle {
    padding: 10px 10px 10px 40px;
}

.block-editor__container .slider-img img {
    max-width: 25%;
    width: 25%;
    height: 40px;
}

.background-img img, .slider-img img{
   border: 1px solid #f7f7f7; 
}