.wp-block-getwid-post-slider{

   &__post{
      a{
         pointer-events: none;
      }
   }

   &__content{
      &:not(.slick-initialized){
        opacity: 0;
        overflow: hidden;
        height: 400px;
      }
   }

	.slick-dots{
		padding: 0;
	}

}