/*!
 * getwid-post-slider
 */

.wp-block-getwid-post-slider {

	&__content {
		.slick-list,
		.slick-track {
			height: 100%;
		}

		&:not(.slick-initialized) {
			> * {
				&:not(:first-child) {
					display: none;
				}
			}
		}
	}

	.slick-track {
		display: flex;

		> * {
			height: auto;

			> * {
				&:only-child {
					height: 100%;
				}
			}
		}
	}

	&__post {
		position: relative;
		padding: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	& &__post-thumbnail {
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		img {
			height: 100%;
			width: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}

	&__post-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.3;
		background-color: #000;
	}

	&__post-content-wrapper {
		max-width: 768px;
		text-align: center;
	}

	& &__post-title {
		color: #ffffff;
		position: relative;

		a {
			color: inherit;
		}
	}

	&__post-excerpt {
		position: relative;
		color: #ffffff;
	}
}
