/*!
 * getwid-progress-bar
 */

.wp-block-getwid-progress-bar {
	width: 100%;
	position: relative;

	&__header {
		width: 100%;
		display: flex;
		vertical-align: middle;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: .25em;

		> * {
			margin: 0;
		}
	}

	&__percent {
		/*rtl:begin:remove*/
		margin-left: auto;
		/*rtl:end:remove*/
		/*rtl:raw: margin-right: 5%; */
	}

	&__bar {
		height: 5px;
		overflow: hidden;
		width: 100%;
		background-color: #eee;
	}

	&__progress {
		height: 100%;
		overflow: hidden;
		background-color: currentColor;
	}
}
