/*!
 * getwid-button-group
 */

.wp-block-getwid-button-group {
	overflow: hidden;

	.wp-block-button {
		margin: 0;
		padding: 0 5px 5px 5px;

		&__link {
			width: 100%;
		}

		&.wp-block-button__width {

			&-25 {
				width: 25%;
			}

			&-50 {
				width: 50%;
			}

			&-75 {
				width: 75%;
			}

			&-100 {
				width: 100%;
			}
		}
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start #{'/*rtl: flex-end*/'};
		margin: 0 -5px -5px -5px !important;

		&.has-spacing-none {
			margin: 0 !important;

			.wp-block-button {
				margin: 0;
			}
		}

		&.has-spacing-small {
			margin: 0 -10px -10px -10px !important;
			//padding: 0 10px 10px 10px;
			.wp-block-button {
				padding: 0 10px 10px 10px;
			}
		}

		&.has-spacing-medium {
			margin: 0 -15px -15px -15px !important;
			//padding: 0 15px 15px 15px;
			.wp-block-button {
				padding: 0 15px 15px 15px;
			}
		}

		&.has-spacing-normal {
			margin: 0 -20px -20px -20px !important;
			//padding: 0 20px 20px 20px;
			.wp-block-button {
				padding: 0 20px 20px 20px;
			}
		}

		&.has-spacing-large {
			margin: 0 -25px -25px -25px !important;
			//padding: 0 25px 25px 25px;
			.wp-block-button {
				padding: 0 25px 25px 25px;
			}
		}


		&.has-alignment-center {
			justify-content: center;
		}

		&.has-alignment-right {
			justify-content: flex-end #{'/*rtl: flex-start*/'};
		}

		&.has-alignment-tablet-center {
			@media screen and (min-width: 768px) and(max-width: 991px) {
				justify-content: center;
			}
		}

		&.has-alignment-tablet-right {
			@media screen and (min-width: 768px) and(max-width: 991px) {
				justify-content: flex-end #{'/*rtl: flex-start*/'};
			}
		}

		&.has-alignment-tablet-left {
			@media screen and (min-width: 768px) and(max-width: 991px) {
				justify-content: flex-start #{'/*rtl: flex-end*/'};
			}
		}

		&.has-alignment-mobile-center {
			@media screen and (max-width: 767px) {
				justify-content: center;
			}
		}

		&.has-alignment-mobile-right {
			@media screen and (max-width: 767px) {
				justify-content: flex-end #{'/*rtl: flex-start*/'};
			}
		}

		&.has-alignment-mobile-left {
			@media screen and (max-width: 767px) {
				justify-content: flex-start #{'/*rtl: flex-end*/'};
			}
		}

		&.has-direction-column {
			flex-direction: column;
			align-items: flex-start #{'/*rtl: flex-end*/'};

			&.has-alignment-center {
				align-items: center;
			}

			&.has-alignment-right {
				align-items: flex-end #{'/*rtl: flex-start*/'};
			}

			&.has-alignment-tablet-center {
				@media screen and (min-width: 768px) and(max-width: 991px) {
					align-items: center;
				}
			}

			&.has-alignment-tablet-right {
				@media screen and (min-width: 768px) and(max-width: 991px) {
					align-items: flex-end #{'/*rtl: flex-start*/'};
				}
			}

			&.has-alignment-tablet-left {
				@media screen and (min-width: 768px) and(max-width: 991px) {
					align-items: flex-start #{'/*rtl: flex-end*/'};
				}
			}

			&.has-alignment-mobile-center {
				@media screen and (max-width: 767px) {
					align-items: center;
				}
			}

			&.has-alignment-mobile-right {
				@media screen and (max-width: 767px) {
					align-items: flex-end #{'/*rtl: flex-start*/'};
				}
			}

			&.has-alignment-mobile-left {
				@media screen and (max-width: 767px) {
					align-items: flex-start #{'/*rtl: flex-end*/'};
				}
			}
		}

		&.has-direction-tablet-column {
			@media screen and (min-width: 768px) and(max-width: 991px) {
				flex-direction: column;
			}

			&.has-alignment-tablet-center {
				@media screen and (min-width: 768px) and(max-width: 991px) {
					align-items: center;
				}
			}

			&.has-alignment-tablet-right {
				@media screen and (min-width: 768px) and(max-width: 991px) {
					align-items: flex-end #{'/*rtl: flex-start*/'};
				}
			}

			&.has-alignment-tablet-left {
				@media screen and (min-width: 768px) and(max-width: 991px) {
					align-items: flex-start #{'/*rtl: flex-end*/'};
				}
			}
		}

		&.has-direction-tablet-row {
			@media screen and (min-width: 768px) and(max-width: 991px) {
				flex-direction: row;
			}
		}

		&.has-direction-mobile-column {
			@media screen and (max-width: 767px) {
				flex-direction: column;
			}

			&.has-alignment-mobile-center {
				@media screen and (max-width: 767px) {
					align-items: center;
				}
			}

			&.has-alignment-mobile-right {
				@media screen and (max-width: 767px) {
					align-items: flex-end #{'/*rtl: flex-start*/'};
				}
			}

			&.has-alignment-mobile-left {
				@media screen and (max-width: 767px) {
					align-items: flex-start #{'/*rtl: flex-end*/'};
				}
			}
		}

		&.has-direction-mobile-row {
			@media screen and (max-width: 767px) {
				flex-direction: row;
			}
		}
	}
}

.has-width-100 {
	.wp-block-button {
		width: 100%;
	}
}

.has-width-50 {
	.wp-block-button {
		width: 50%;
	}
}

.has-width-33 {
	.wp-block-button {
		width: 33.3333%;
	}
}

.has-width-25 {
	.wp-block-button {
		width: 25%;
	}
}

.has-width-20 {
	.wp-block-button {
		width: 20%;
	}
}

.has-width-tablet-100 {
	@media screen and (min-width: 768px) and(max-width: 991px) {
		.wp-block-button {
			width: 100%;
		}
	}
}

.has-width-tablet-50 {
	@media screen and (min-width: 768px) and(max-width: 991px) {
		.wp-block-button {
			width: 50%;
		}
	}
}

.has-width-tablet-33 {
	@media screen and (min-width: 768px) and(max-width: 991px) {
		.wp-block-button {
			width: 33.3333%;
		}
	}
}

.has-width-tablet-25 {
	@media screen and (min-width: 768px) and(max-width: 991px) {
		.wp-block-button {
			width: 25%;
		}
	}
}

.has-width-tablet-20 {
	@media screen and (min-width: 768px) and(max-width: 991px) {
		.wp-block-button {
			width: 20%;
		}
	}
}

.has-width-mobile-100 {
	@media screen and (max-width: 767px) {
		.wp-block-button {
			width: 100%;
		}
	}
}

.has-width-mobile-50 {
	@media screen and (max-width: 767px) {
		.wp-block-button {
			width: 50%;
		}
	}
}

.has-width-mobile-33 {
	@media screen and (max-width: 767px) {
		.wp-block-button {
			width: 33.3333%;
		}
	}
}

.has-width-mobile-25 {
	@media screen and (max-width: 767px) {
		.wp-block-button {
			width: 25%;
		}
	}
}

.has-width-mobile-20 {
	@media screen and (max-width: 767px) {
		.wp-block-button {
			width: 20%;
		}
	}
}
